
@{
    ViewBag.Title = "Tree";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link href="../../css/tree-responsive.css" rel="stylesheet" />
<link href="../../css/tree.css" rel="stylesheet" />
<style type="text/css">
    .ui-autocomplete-loading {
        background: white url("../img/player_loading.gif") right center no-repeat;
        background-size: 20px;
    }

    /*.ps-scrollbar-x {
        display: none;
    }*/

    /*.card-box {
        padding: 19px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        background-clip: padding-box;
        margin-bottom: 20px;
        background-color: black;
        box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
    }*/

    .h3 {
        font-size: 10px !important;
    }

    .tree {
        -webkit-transition-property: opacity; /* Safari */
        -webkit-transition-duration: 5s; /* Safari */
        -webkit-transition-delay: 0.5s; /* Safari */
        transition-property: opacity;
        transition-duration: 5s;
        transition-delay: 0.5s;
    }

    #firstRow, [id*="level"] {
        /*display: none;*/
        transition-property: display;
        transition-duration: 3s;
        transition-delay: 1s;
    }

    #firstHead {
        /*opacity: 0;*/
        transition-property: display;
        transition-duration: 3s;
        transition-delay: 1s;
    }

    .tree ul {
        margin: auto;
        width: max-content;
        float: none !important;
    }

        .tree ul li {
            left: 1%;
        }

    .tree li a {
        width: 100px;
        height: auto;
        border: 0;
        padding: 0;
        /*background-color: antiquewhite;*/
    }

    .tree a b {
        font-size: smaller;
        color: #29166f;
    }

    .tree a span {
        font-size: 9px;
        line-height: 12px;
        color: #0093dd;
        text-transform: uppercase;
        display: block;
    }

        .tree a span.name {
            color: #929294;
        }

    .side-panel {
        position: fixed;
        display: block;
        border: 1px solid;
        background-color: #FFC40D;
        z-index: 9;
        right: 0;
        border-color: #FFC40D;
        top: 160px;
        height: 100%;
        width: 20%;
        right: -20%;
        transition: all 0.3s;
    }

    .active {
        transition: all 0.3s;
        right: 0;
    }

    #myDiv {
        margin: auto;
        margin-top: 300px;
        text-align: center;
    }

    #chart {
        min-height: 450px !important;
        height: 100%;
        /*background-color: #000000e6;*/
        width: 100% !important;
        padding: 0px;
        overflow: hidden;
    }

    .loading {
        background-image: url(../Content/img/player_loading.gif);
        background-position: right;
        background-repeat: no-repeat;
        background-size: 20px;
    }

    .tree a {
        /*font-weight: bold;
            font-family: verdana;*/
    }

        .tree a span {
            /*position: absolute;*/
            left: 0;
            right: 0;
            font-weight: 100;
            font-family: verdana;
            font-size: 9px;
            color: #0558b1;
            display: block;
        }

    .tree li a:hover span {
        /*position: absolute;*/
        left: 0;
        right: 0;
    }


    .popover {
        background: #f5f5f5 !important;
        max-width: 400px;
        webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.45);
        -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.45);
        box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.45);
         z-index:99 !important;
    }

    .popover-title {
        display: none !important;
    }

    .table, table
    {
        display:block !important;
    }

    .popover-content {
        float: left;
        width: 100%;
        color: #29292b;
        font-size: 13px;
        background: #f5f5f5 !important;
    }



        .popover-content .table td, .popover-content .table th {
            font-size: 11px;
            border: 1px solid black;
            border-left: 1px solid black;
            word-wrap: break-word !important;
            padding: 2px 2px;
            word-break: break-all;
            background: #f5f5f5 !important;
        }

        .popover-content .table th {
            background: #f5f5f5 !important;
            color: black;
        }

    #member-details {
        position: absolute;
        right: -300px;
        width: 300px;
        height: auto;
        background-color: #fff;
        z-index: 99;
        top: 0px;
        transition: all 0.3s ease-in;
        transition-delay: 0.1s;
        transition-duration: 0.3s;
        color: #fff;
        font-size: 11px;
        border: 1px solid #3d3d3f;
        border-radius: 0;
        margin: 0;
    }

        #member-details.active {
            right: 0;
        }

    #member-details .table {
            border: 0px solid #388851;
            padding: 0px;
            margin: 0px;
            border-collapse: collapse;
            max-width: 100%;
        }


            #member-details .table td, #member-details .table th {
                /*padding: 2px 2px 2px 2px;*/
                border-collapse: collapse;
                border-bottom: none;
                word-wrap: break-word;
                border: 0;
            }

    #member-details .table.table-sm.detail th, #member-details .table.table-sm.detail td {
                border-right: 1px solid #3d3d3f;
            }

            #member-details .table.table-sm.detail {
                border-bottom: 1px solid #3d3d3f !important;
            }

            #member-details .table th {
                color: black;
            }

    .family-tree li a .outer-ring {
        border: 1px solid #d78a2e;
        padding: 5px;
        text-decoration: none;
        color: #666;
        font-family: arial, verdana, tahoma;
        font-size: 11px;
        display: inline-block;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
    }

    #loading-image {
        display: none;
        position: absolute;
        color: #fff;
        background-color: #000000;
        top: 0;
        left: 0px;
        bottom: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        padding-top: 75%;
    }

    #go-top i.material-icons {
        font-size: 24px;
    }


    i.men-active {
        width: 50px !important;
        height: 50px !important;
        background-image: url(../../images/TreeIcon/men-active.png) !important;
        display: block;
        margin: 0 auto;
    }

    i.men-inactive {
        width: 50px !important;
        height: 50px !important;
        background-image: url(../../images/TreeIcon/men-inactive.png) !important;
        display: block;
        margin: 0 auto;
    }

    i.girl-active {
        width: 50px !important;
        height: 50px !important;
        background-image: url(../../images/TreeIcon/girl-active.png) !important;
        display: block;
        margin: 0 auto;
    }

    i.girl-inactive {
        width: 50px !important;
        height: 50px !important;
        background-image: url(../../images/TreeIcon/girl-inactive.png) !important;
        display: block;
        margin: 0 auto;
    }

    i.join-member {
        width: 50px !important;
        height: 50px !important;
        background-image: url(../../images/noimage.jpg) !important;
        display: block;
        margin: 0 auto;
    }

    i.open-member {
        width: 50px !important;
        height: 50px !important;
        background-image: url(../../images/noimage.jpg) !important;
        display: block;
        margin: 0 auto;
    }

    i.girl-block {
        width: 50px !important;
        height: 50px !important;
        background-image: url(../../images/TreeIcon/girl-block.png) !important;
        display: block;
        margin: 0 auto;
    }

    i.men-block {
        width: 50px !important;
        height: 50px !important;
        background-image: url(../../images/TreeIcon/men-block.png) !important;
        display: block;
        margin: 0 auto;
    }

    #lblDisplayName {
        font-size: 18px;
        padding: 5px 5px 10px;
        font-weight: 500;
        text-transform: uppercase;
        text-align: left;
        margin: 0px;
        border-bottom: 1px solid #3d3d3f;
    }

    .loading-image.member-img {
        padding: 0 10px;
    }

    #member-details button#close {
        text-shadow: none;
        color: #929294;
        opacity: 1;
        width: 25px;
        height: 25px;
        position: absolute;
        top: 6px;
        font-size: 25px;
        line-height: 7px;
        right: 0;
        border: 0;
        background-color: #29292b;
        display: block !important;
    }

    #close, .next-tree {
        display: none;
    }

    #member-details button#close:focus, #member-details button#close:active, #member-details button#close:hover {
        outline: none;
    }

    .next-tree i {
        border: solid #929294;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
    }

    #member-details button.next-tree {
        width: 25px;
        height: 25px;
        position: absolute;
        top: 5px;
        font-size: 25px;
        line-height: 0px;
        left: 0;
        border: 0;
        background-color: #29292b;
        display: block !important;
    }

        #member-details button.next-tree .down {
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
        }

    @@media (max-width: 768px) {
        #member-details .table {
            width: 100% !important;
        }
    }

    @@media (max-width: 992px) {
        .text-right.mob-text-center {
            text-align: center;
            margin-bottom: 15px;
        }

        .text-center.mob-search-box {
            width: calc(100% - 95px);
            float: left;
            padding-left: 0 !important;
        }

        .text-left.mob-search-btn {
            width: 95px;
            padding: 0 !important;
            float: left;
        }
    }
    /* DivTable.com */
.divTable{
	display: table;
	width: 100%;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}
    .member-data-detail table.table-sm {
        font-size: 8px !important;
    }

    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        border-top: 1px solid rgba(120,130,140,.13);
        line-height: 10px;
        vertical-align: top;
    }
    #lblFk_UserId
    {
        display:none
    }
    
</style>

<div class="app-content">
    <div class="side-app">
        <!-- PAGE-HEADER -->
        <div class="page-header">
            <div>
                <h1 class="page-title">  Team</h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/Admin/AdminDashboard">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page"> Binary Tree</li>
                </ol>
            </div>
        </div>
        <!-- PAGE-HEADER END -->

        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-row">
                                <div class="col-md-2"></div>

                                <div class="col-md-4">
                                    <input name="txtLoginID" type="text" maxlength="10" id="txtLoginID" class="form-control" placeholder="Search By Login ID" autocomplete="off">
                                </div>
                                <div class="col-md-4">
                                    <input type="hidden" name="hfCustomerId" id="hfCustomerId">
                                    <input type="hidden" name="HiddenField1" id="HiddenField1">
                                    <button type="button" id="btnSearch" class="btn btn-success m-b-10 m-l-5">Search</button>
                                    <a id="linkGoUp" class="btn btn-info m-b-10 m-l-5">
                                        <input type="hidden" id="lblRequest" />Go Up
                                    </a>
                                    <a id="btnRoot" class="btn btn-primary m-b-10 m-l-5">Root</a>

                                </div>
                                <div class="form-group col-md-12">

                                    <div class="col-sm-12 col-md-12" id="chart">
                                        <div class="tree family-tree clearfix">
                                            <ul>
                                                <li id="firstRow">
                                                    <a href="" id="firstHead"></a>
                                                    <span id="rptRow1_lblFooter"></span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="container-fluid" id="member-details" style="background-color: white">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <div class="form-row">
                                                                <div class="form-group col-md-2">
                                                                    <img alt="image" src="/WebsiteCss/images/SRK_Logo.png" style="width: 50px; height: 50px">
                                                                </div>
                                                                <div class="form-group col-md-8 text-center">
                                                                    <button type="button" class="next-tree" onclick='ClickHere(this)'>
                                                                        <a style="width: 100%; height: 50%; background-color: white;" title="Go Down" class="clip-tree"></a>

                                                                    </button>
                                                                    <div class="media-body text-center">
                                                                        <h3 class="mb-0 text-center" id="lblDisplayName">@ViewBag.Fk_UserId</h3>
                                                                        <p class="mb-0" id="lblMemberId"></p>
                                                                        <p class="mb-0" id="lblSpillby"></p>
                                                                        <p class="mb-0" id="lblJoiningDate"></p>
                                                                        <p class="mb-0" id="lblstatus"></p>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group col-md-2">
                                                                    <br />
                                                                    <button type="button" id="close">&times;</button>
                                                                    <img src="../../images/treeicon.jpg" id="userimage" style="width: 50px; height: 50px;border:1px solid" />

                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-lg-12">
                                                                        <div class="divTable"  style="width: 100%;border: 1px solid #000;">
                                                                            <div class="divTableBody">
                                                                                <div class="divTableRow">
                                                                                    <div class="divTableCell">Total Amount</div>
                                                                                    <div class="divTableCell" id="lblProductName"></div>
                                                                                    <div class="divTableCell" id="lblFk_UserId"></div>
                                                                                </div>
                                                                                <div class="divTableRow">
                                                                                    <div class="divTableCell">Activation Date</div>
                                                                                    <div class="divTableCell" id="lblupgradedate">:</div>
                                                                                </div>
                                                                                <div class="divTableRow">
                                                                                    <div class="divTableCell">Spill Details</div>
                                                                                    <div class="divTableCell"  id="lblParnetId">:</div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <!-- DivTable.com -->
                                                                        <div class="divTable mt-4" style="width: 100%;border: 1px solid #000;">
                                                                            <div class="divTableBody">
                                                                                <div class="divTableRow">
                                                                                    <div class="divTableCell">Type</div>
                                                                                    <div class="divTableCell">Left</div>
                                                                                    <div class="divTableCell">Right</div>
                                                                                    <div class="divTableCell">Total</div>
                                                                                </div>
                                                                                <div class="divTableRow">
                                                                                    <div class="divTableCell">Active</div>
                                                                                    <div data-title="ID" class="divTableCell ActiveLeft">0</div>
                                                                                    <div data-title="ID" class="divTableCell ActiveRight">0</div>
                                                                                    <div data-title="ID" class="divTableCell ActiveTotal">0</div>
                                                                                </div>
                                                                                <div class="divTableRow">
                                                                                    <div class="divTableCell">InActive</div>
                                                                                    <div data-title="ID" class="NonActiveLeft divTableCell">0</div>
                                                                                    <div data-title="ID" class="NonActiveRight divTableCell">0</div>
                                                                                    <div data-title="ID" class="NonActiveTotal divTableCell">0</div>

                                                                                </div>
                                                                                <div class="divTableRow">
                                                                                    <div class="divTableCell">Total</div>
                                                                                    <div data-title="ID" class="TotalMemberLeft divTableCell">0</div>
                                                                                    <div data-title="ID" class="TotalMemberRight divTableCell">0</div>
                                                                                    <div data-title="ID" class="TotalMemberTotal divTableCell">0</div>

                                                                                </div>
                                                                                <div class="divTableRow">
                                                                                    <div class="divTableCell">Spill Details</div>
                                                                                    <div data-title="ID" class="LeftBusinessvol divTableCell">0</div>
                                                                                    <div data-title="ID" class="RightBusinessvol divTableCell">0</div>
                                                                                    <div data-title="ID" class="TotalBusinessvol divTableCell">0</div>

                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                @*<div class="form-group col-md-12 table-responsive">
                                                                    <table class="table table-bordered text-nowrap border-bottom w-100" style="border:1px solid black">
                                                                        <tr>
                                                                            <td style="border-bottom: 1px solid #29166f; border-top: 1px solid #29166f;color:#29292b">Topup Amount</td>
                                                                            <th id="lblProductName" style="border-bottom: 1px solid #29166f; border-top: 1px solid #29166f;color:#29292b">: </th>
                                                                            <th id="lblFk_UserId" style="display: none">: 0</th>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="border-bottom: 1px solid #29166f; border-top: 1px solid #29166f;color:#29292b">Activation Date</td>
                                                                            <th id="lblupgradedate" style="border-bottom: 1px solid #29166f; border-top: 1px solid #29166f;color:#29292b">: </th>

                                                                        </tr>
                                                                        <tr>
                                                                            <td style="border-bottom: 1px solid #29166f; border-top: 1px solid #29166f;color:#29292b">Spill Details</td>
                                                                            <th id="lblParnetId" style="font-size: 13px;border-bottom: 1px solid #29166f; border-top: 1px solid #29166f;color:#29292b" ">: </th>
                                                                        </tr>

                                                                    </table>
                                                                </div>*@
                                                                @*<div class="form-group col-md-12 table-responsive">
                                                                    <table class="display nowrap table table-hover table-striped table-bordered" style="border:1px solid black">
                                                                        <thead>
                                                                            <tr>
                                                                                <th style="border-bottom: 1px solid #29166f; border-top: 1px solid #29166f;"><b>Type</b></th>
                                                                                <th style="border-bottom: 1px solid #29166f; border-top: 1px solid #29166f;"><b>Left</b></th>
                                                                                <th style="border-bottom: 1px solid #29166f; border-top: 1px solid #29166f;"><b>Right</b></th>
                                                                                <th style="border-bottom: 1px solid #29166f; border-top: 1px solid #29166f;"><b>Total</b></th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr>
                                                                                <th style="border-bottom: 1px solid #29166f; border-top: 1px solid #29166f;color:#29292b">Active</th>
                                                                                <td data-title="ID" class="ActiveLeft" style="border-bottom: 1px solid #29166f; border-top: 1px solid #29166f;color:#29292b">0</td>
                                                                                <td data-title="ID" class="ActiveRight" style="border-bottom: 1px solid #29166f; border-top: 1px solid #29166f;color:#29292b">0</td>
                                                                                <td data-title="ID" class="ActiveTotal" style="border-bottom: 1px solid #29166f; border-top: 1px solid #29166f;color:#29292b">0</td>

                                                                            </tr>
                                                                            <tr>
                                                                                <th style="border-bottom: 1px solid #29166f; border-top: 1px solid #29166f;color:#29292b">InActive</th>
                                                                                <td data-title="ID" class="NonActiveLeft" style="border-bottom: 1px solid #29166f; border-top: 1px solid #29166f;color:#29292b">0</td>
                                                                                <td data-title="ID" class="NonActiveRight" style="border-bottom: 1px solid #29166f; border-top: 1px solid #29166f;color:#29292b">0</td>
                                                                                <td data-title="ID" class="NonActiveTotal" style="border-bottom: 1px solid #29166f; border-top: 1px solid #29166f;color:#29292b">0</td>

                                                                            </tr>
                                                                            <tr>
                                                                                <th style="border-bottom: 1px solid #29166f; border-top: 1px solid #29166f;color:#29292b">Total</th>
                                                                                <td data-title="ID" class="TotalMemberLeft" style="border-bottom: 1px solid #29166f; border-top: 1px solid #29166f;color:#29292b">0</td>
                                                                                <td class="TotalMemberRight" data-title="ID" style="border-bottom: 1px solid #29166f; border-top: 1px solid #29166f;color:#29292b">0</td>
                                                                                <td data-title="ID" class="TotalMemberTotal" style="border-bottom: 1px solid #29166f; border-top: 1px solid #29166f;color:#29292b">0</td>

                                                                            </tr>
                                                                            <tr>
                                                                                <th style="border-bottom: 1px solid #29166f; border-top: 1px solid #29166f;color:#29292b">Total Business</th>
                                                                                <td data-title="ID" class="LeftBusinessvol" style="font-size: 12px;border-bottom: 1px solid #29166f; border-top: 1px solid #29166f;color:#29292b">0</td>
                                                                                <td class="RightBusinessvol" data-title="ID" style="font-size: 12px;border-bottom: 1px solid #29166f; border-top: 1px solid #29166f;color:#29292b">0</td>
                                                                                <td data-title="ID" class="TotalBusinessvol" style="font-size: 12px;border-bottom: 1px solid #29166f; border-top: 1px solid #29166f;color:#29292b">0</td>

                                                                            </tr>*@
                                                                            @*<tr>
                                                                                    <th style="border-bottom: 1px solid #29166f; border-top: 1px solid #29166f;color:#29292b">Business Volume</th>
                                                                                    <td data-title="ID" class="LeftBusiness" style="font-size: 12px;border-bottom: 1px solid #29166f; border-top: 1px solid #29166f;color:#29292b">0</td>
                                                                                    <td class="RightBusiness" data-title="ID" style="font-size: 12px;border-bottom: 1px solid #29166f; border-top: 1px solid #29166f;color:#29292b">0</td>
                                                                                    <td data-title="ID" class="TotalBusiness" style="font-size: 12px;border-bottom: 1px solid #29166f; border-top: 1px solid #29166f;color:#29292b">0</td>


                                                                                </tr>
                                                                                <tr>
                                                                                    <th style="border-bottom: 1px solid #29166f; border-top: 1px solid #29166f;color:#29292b">Product Business</th>
                                                                                    <td data-title="ID" class="ProductLeftBusiness" style="font-size: 12px;border-bottom: 1px solid #29166f; border-top: 1px solid #29166f;color:#29292b">0</td>
                                                                                    <td class="ProductRightBusiness" data-title="ID" style="font-size: 12px;border-bottom: 1px solid #29166f; border-top: 1px solid #29166f;color:#29292b">0</td>
                                                                                    <td data-title="ID" class="ProductTotalBusiness" style="font-size: 12px;border-bottom: 1px solid #29166f; border-top: 1px solid #29166f;color:#29292b">0</td>


                                                                                </tr>*@
                                                                        @*</tbody>
                                                                    </table>
                                                                </div>*@
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>









<input type="hidden" id="firtsMemberID" value="@ViewBag.Fk_UserId" />

<script src="../../vendor/jquery/jquery.min.js"></script>
<script type="text/javascript">
    var winHeight = $(window).height();
    var winWidth = $(window).width();

    $("body").click(function () {
        $("a").popover('hide');
    });
    $("a").click(function () {
        $("a").popover('hide');
    });
    function openPopup(obj, sponsorid, cssclaa, item1, item2, item3, item4, item5, JoiningDate, ProductName, AllLeg1, AllLeg2, PermanentLeg1, PermanentLeg2, InactiveLeft, InactiveRight, PCountLeg1, PCountLeg2, PaidLeg1, PaidLeg2, BalanceLeft, BalanceRight, Profilepic, ActivationDate, AllBusinessLeft, AllBusinessRight, ProductRightBusiness, ProductLeftBusiness) {

        var loginid = 'LoginId - ' + ' ' + item2;
        var JoiningDate = 'JoiningDate - ' + ' ' + JoiningDate;
        $("#lblFk_UserId").text(item1);
        $("#lblMemberId").text(loginid);
        $('#lblParnetId').text(item5);
        $('#lblDisplayName').text(item3);

        if (sponsorid != '') {
            $("#lblSpillby").html('Spill by - ' + sponsorid);
        }
        else {
            $("#lblSpillby").html('Spill by - N/A');
        }
        $(".LoginId").html(item5);
        $("#lblJoiningDate").html(JoiningDate);
        $("#lblProductName").html(ProductName);
        $("#lblupgradedate").html(ActivationDate);

        if (cssclaa == "active-member") {
            $("#lblstatus").html('Status - Active');
        }
        else if (cssclaa == "block-member") {
            $("#lblstatus").html('Status - Block');
        }
        else if (cssclaa == "inactive-member") {
            $("#lblstatus").html('Status - InActive');
        }
        //if (ProductName == "No Package (0)") {
        //    $("#lblstatus").html('Status - InActive');
        //}
        //else {
        //    $("#lblstatus").html('Status - Active');
        //}


        $(".TotalMemberLeft").html(AllLeg1);
        $(".TotalMemberRight").html(AllLeg2);

        $(".TotalMemberTotal").html(parseFloat(AllLeg1) + parseFloat(AllLeg2));

        $(".ActiveLeft").html(PermanentLeg1);
        $(".ActiveRight").html(PermanentLeg2);

        $(".ActiveTotal").html(parseFloat(PermanentLeg1) + parseFloat(PermanentLeg2));

        $(".NonActiveLeft").html(InactiveLeft);
        $(".NonActiveRight").html(InactiveRight);

        $(".NonActiveTotal").html(parseFloat(InactiveLeft) + parseFloat(InactiveRight));

        $(".LeftBusiness").html(PCountLeg1);
        $(".RightBusiness").html(PCountLeg2);

        $(".TotalBusiness").html(parseFloat(PCountLeg1) + parseFloat(PCountLeg2));

        $(".ProductLeftBusiness").html(ProductLeftBusiness);
        $(".ProductRightBusiness").html(ProductRightBusiness);

        $(".ProductTotalBusiness").html(parseFloat(ProductLeftBusiness) + parseFloat(ProductRightBusiness));

        $(".PaidLeg1").html(PaidLeg1);
        $(".PaidLeg2").html(PaidLeg2);

        $(".TotalPaidLeg").html(parseFloat(PaidLeg1) + parseFloat(PaidLeg2));

        $(".BalanceLeft").html(BalanceLeft);
        $(".BalanceRight").html(BalanceRight);

        $(".LeftBusinessvol").html(AllBusinessLeft);
        $(".RightBusinessvol").html(AllBusinessRight);

        $(".TotalBusinessvol").html(parseFloat(AllBusinessLeft) + parseFloat(AllBusinessRight));

        $(".TotalBalance").html(parseFloat(BalanceLeft) + parseFloat(BalanceRight));
        $("#userimage").attr("src", Profilepic);

        if (winWidth < 998) {
            $("#member-details").addClass('active');
            $("#go-top").find('input[type="hidden"]').val(item1);
        }
        $("#loading-image").hide();
        $('#' + obj.id).attr("data-bs-content", $("#member-details").html());
        $('[data-bs-toggle="popover"]').popover({
            container: 'body',
            html: true,
            placement: 'auto',
            trigger: 'hover',
        });
    }
    function closePopup(obj) {

        if (winWidth < 998) {
            $("#member-details").addClass('active');
        }
        else {
        }
        $('#' + obj.id).removeAttr("data-bs-content", $("#member-details").html());

    }

    if (winWidth > 998) {
        $("#chart").on("mouseover", function () {
            // $("#member-details").addClass('active');
        });
        $("#chart").on("mouseout", function () {
            // $("#member-details").removeClass('active');
        });
    }

    var Fk_UserId = "0";
    $("#btnRoot").click(function () {
        var loginid = $("#firtsMemberID").val();
        var topId = $("#linkGoUp").find("#lblRequest").val();
        if (parseInt(loginid) > parseInt(topId)) {
            //alert("You Are on top...!")
        }
        else {
            //Fk_UserId = $("#firtsMemberID").val();
            GetDataFirst(loginid, "clicked");
            $("#txtLoginID").val('');
            $("#hfCustomerId").val('');
        }
    });

    $("#linkGoUp").click(function () {
        $('#divload').show();
        $("#linkGoUp").attr("readonly", true);

        if ($(this).find("#lblRequest").val() == "0") {
            //Fk_UserId = $("#firtsMemberID").val();
            // GetDataFirst(Fk_UserId, "clicked");
            $('#divload').hide();
        }
        else {
            if (parseInt($(this).find("#lblRequest").val()) < parseInt($("#firtsMemberID").val())) {
                //alert("Can't Reach With Relation with Parent")
            } else {
                Fk_UserId = $(this).find("#lblRequest").val();
                GetDataFirst(Fk_UserId, "clicked");
            }

        }

        // GetData(Fk_UserId);
    });


    var Fk_UserId = "0";
    var clicked = 0;

    function ClickHere(obj) {

        //if ($("#" + obj.id + "").find('input[type="hidden"]').val() == "-1") {
        //  return false;
        //}
        $("#member-details").removeClass('active');
        var mID = $("#lblFk_UserId").text();
        //var mID = $("#" + obj.id + "").find('input[type="hidden"]').val();
        clicked = 1;
        GetDataFirst(mID, "clicked");
    }


    $("#close").click(function () {
        $("#member-details").removeClass('active');
    });

</script>

<script type="text/javascript">

    var winHeight = $(window).height();
    var winWidth = $(window).width();
    var clickOption = "";
    if (winWidth < 980) {
        //clickOption = "";
        clickOption = "";
    }
    else {
        clickOption = "onClick='ClickHere(this)'";
    }

    $(window).on("load", function () {

        var id = $("#firtsMemberID").val();

        GetDataFirst(id, "clicked");

        //GetData(id);

    });

    function GetData(id) {
        //
        $.ajax({
            method: "GET",
            url: window.location.origin + "/AgentServices/GetGeneologyForAdmin?memID=" + id,
            //data: '{memID: ' + id + '}',
            //contentType: "application/json; charset=utf-8",
            //dataType: "json",
            success: OnSuccess,
            failure: function (response) {
                console.log("Failed: " + response);
                console.log(response);
            },
            error: function (response) {
                console.log("Error: " + response);
                console.log(response);
            }
        });


        function OnSuccess(response) {
            var ul = $("<ul></ul>");
            var freeBlock = "";
            var freeBlockL = "";
            var freeBlockR = "";
            var model = response;
            if (!$.trim(model)) {
                $(".alert-warning").show();
                $("#lblWarning").text("No Member Found...For this Associate");
                //$("#userTree").hide();

                freeBlockL = "<li id='1'><a href='Registration.cshtml?Pid='123466'&amp;lg=L' target='_blank'><img src='/Content/img/open-member.png'><br><span>Join Now</span></a></li>";
                freeBlockR = "<li id='2'><a href='Registration.cshtml?Pid='123466'&amp;lg=R' target='_blank'><img src='/Content/img/open-member.png'><br><span>Join Now</span></a></li>";
                ul.append(freeBlockL + freeBlockR);
                $("#firstRow").fadeIn(500);
                window.setTimeout(function () {
                    $('#alertbox .alert').hide(500, 0).slideUp(1500, function () {
                        $('#alertbox .alert').slideUp(500);
                    });
                }, 2000);

            }
            else {



                var $child = "";
                var level = 0;
                $.each(response, function (i, k) {
                    level++;
                });

                $.each(model, function (i, item1) {

                    id = item1.Fk_UserId;
                    var cssclass = "";
                    var cssclaa = item1.CssClass;
                    var Gender = item1.Gender;
                    if (cssclaa == "active-member") {
                        if (Gender == "M") {
                            cssclass = "men-active";
                        }
                        else {
                            cssclass = "girl-active";
                        }
                    }
                    else if (cssclaa == "block-member") {
                        if (Gender == "M") {
                            cssclass = "men-block";
                        }
                        else {
                            cssclass = "girl-block";
                        }
                    }
                    else if (cssclaa == "inactive-member") {
                        if (Gender == "M") {
                            cssclass = "men-inactive";
                        }
                        else {
                            cssclass = "girl-inactive";
                        }
                    }
                    else {
                        cssclass = "join-member";
                    }

                    if (level == 2) {
                        if (id != '-1') {

                            child = " <li id='level" + i + "'><a data-bs-toggle='popover' id='levelLink" + i + "' href='" + item1.Href + "' class='from " + cssclass + " rounded-circle' " +
                                                      " onmouseover='openPopup(this," + '"' + item1.SponsorId + '"' + "," + '"' + cssclaa + '"' + "," + item1.Fk_UserId + "," + '"' + item1.LoginId + '"' + ", " + '"' + item1.MemberName + '"' + "," + '"' + item1.Leg + '"' + "," + '"' + item1.ParentLoginId + '"' + "," + '"' + item1.JoiningDate + '"' + "," + '"' + item1.ProductName + '"' + "," + '"' + item1.AllLeg1 + '"' + "," + '"' + item1.AllLeg2 + '"' + "," + '"' + item1.PermanentLeg1 + '"' + "," + '"' + item1.PermanentLeg2 + '"' + "," + '"' + item1.InactiveLeft + '"' + "," + '"' + item1.InactiveRight + '"' + "," + '"' + item1.PCountLeg1 + '"' + "," + '"' + item1.PCountLeg2 + '"' + "," + '"' + item1.PaidLeg1 + '"' + "," + '"' + item1.PaidLeg2 + '"' + "," + '"' + item1.BalanceLeft + '"' + "," + '"' + item1.BalanceRight + '"' + "," + '"' + item1.ProfilePic + '"' + "," + '"' + item1.ActivationDate + '"' + "," + '"' + item1.AllBusinessLeft + '"' + "," + '"' + item1.AllBusinessRight + '"' + "," + '"' + item1.ProductRightBusiness + '"' + "," + '"' + item1.ProductLeftBusiness + '"' + ")' " +
                                                      " onmouseout='closePopup(this)' href='#' " + clickOption + " >" +

                                                      "<div class='outer-ring " + cssclass + " rounded-circle'><div class='member-img " + cssclass + " rounded-circle'><i class='" + cssclass + " rounded-circle '></i></div></div><span class='name member-name'>" +
                                                      " " + item1.LoginId + "</span> <span class='member-join-time'> " + item1.MemberName + "</span>" +
                                                      "<input type='hidden' id='" + item1.Fk_UserId + "' value='" + item1.Fk_UserId + "' />" +
                                                      "</a></li>";
                        }
                        else {

                            child = " <li id='level" + i + "'><a id='levelLink" + i + "' href='" + item1.Href + "' class='from " + cssclass + " rounded-circle' >" +
                                                     "<div class='outer-ring " + cssclass + " rounded-circle'><div class='member-img " + cssclass + " rounded-circle'><i class='" + cssclass + "  rounded-circle'></i></div></div><span class='name member-name'>" +
                                                     " " + item1.LoginId + "</span> <span class='member-join-time'> " + item1.MemberName + "</span>" +
                                                     "<input type='hidden' id='" + item1.Fk_UserId + "' value='" + item1.Fk_UserId + "' />" +
                                                     "</a></li>";
                        }
                        ul.append(child);
                    }
                    else {
                        if (id != '-1') {
                            child = " <li id='level" + i + "'><a data-bs-toggle='popover' id='levelLink" + i + "' href='" + item1.Href + "' class='from " + cssclass + " rounded-circle' " +
                                                      " onmouseover='openPopup(this," + '"' + item1.SponsorId + '"' + "," + '"' + cssclaa + '"' + "," + item1.Fk_UserId + "," + '"' + item1.LoginId + '"' + ", " + '"' + item1.MemberName + '"' + "," + '"' + item1.Leg + '"' + "," + '"' + item1.ParentLoginId + '"' + "," + '"' + item1.JoiningDate + '"' + "," + '"' + item1.ProductName + '"' + "," + '"' + item1.AllLeg1 + '"' + "," + '"' + item1.AllLeg2 + '"' + "," + '"' + item1.PermanentLeg1 + '"' + "," + '"' + item1.PermanentLeg2 + '"' + "," + '"' + item1.InactiveLeft + '"' + "," + '"' + item1.InactiveRight + '"' + "," + '"' + item1.PCountLeg1 + '"' + "," + '"' + item1.PCountLeg2 + '"' + "," + '"' + item1.PaidLeg1 + '"' + "," + '"' + item1.PaidLeg2 + '"' + "," + '"' + item1.BalanceLeft + '"' + "," + '"' + item1.BalanceRight + '"' + "," + '"' + item1.ProfilePic + '"' + "," + '"' + item1.ActivationDate + '"' + "," + '"' + item1.AllBusinessLeft + '"' + "," + '"' + item1.AllBusinessRight + '"' + ",," + '"' + item1.ProductRightBusiness + '"' + "," + '"' + item1.ProductLeftBusiness + '"' + ")' " +
                                                      " onmouseout='closePopup(this)' href='#' " + clickOption + " >" +
                                                      "<div class='outer-ring " + cssclass + " rounded-circle'><div class='member-img " + cssclass + " rounded-circle'><i class='" + cssclass + " rounded-circle'></i></div></div><span class='name member-name'>" +
                                                      " " + item1.LoginId + "</span> <span class='member-join-time'> " + item1.MemberName + "</span>" +
                                                      "<input type='hidden' id='" + item1.Fk_UserId + "' value='" + item1.Fk_UserId + "' />" +
                                                      "</a></li>";
                        }
                        else {
                            child = " <li id='level" + i + "'><a id='levelLink" + i + "' href='" + item1.Href + "' class='from " + cssclass + " rounded-circle' >" +
                                                     "<div class='outer-ring " + cssclass + " rounded-circle'><div class='member-img " + cssclass + " rounded-circle'><i class='" + cssclass + " rounded-circle'></i></div></div><span class='name member-name'>" +
                                                     " " + item1.LoginId + "</span> <span class='member-join-time'> " + item1.MemberName + "</span>" +
                                                     "<input type='hidden' id='" + item1.Fk_UserId + "' value='" + item1.Fk_UserId + "' />" +
                                                     "</a></li>";
                        }
                        freeBlock = "<li id='1'><a href='Registration.cshtml?Pid=" + item1.LoginId + "&amp;lg=" + item1.Leg + "' target='_blank'><img src='/Content/img/open-member.png'><br><span>Join Now</span></a></li>";
                        if (item1.Leg == 'L') {
                            ul.append(child + freeBlock);
                        }
                        else {
                            ul.append(freeBlock + child);
                        }

                    }

                    if (winWidth > 766) {
                        if (id != null) {
                            $.ajax({
                                method: "GET",
                                url: window.location.origin + "/AgentServices/GetGeneologyForAdmin?memID=" + id,
                                //data: '{memID: ' + id + '}',
                                //contentType: "application/json; charset=utf-8",
                                //dataType: "json",
                                success: function (response2) {
                                    var model2 = response2;
                                    var ul2 = $("<ul></ul>");
                                    var level2 = 0;
                                    if (!$.trim(model2)) {
                                        freeBlockL = "<li id='1'><a href='Registration.cshtml?Pid='123466'&amp;lg=L' target='_blank'><img src='/Content/img/open-member.png'><br><span>Join Now</span></a></li>";
                                        freeBlockR = "<li id='2'><a href='Registration.cshtml?Pid='123466'&amp;lg=R' target='_blank'><img src='/Content/img/open-member.png'><br><span>Join Now</span></a></li>";

                                        ul2.append(freeBlockL + freeBlockR);
                                        //$("#firstRow").fadeIn(2000);
                                        window.setTimeout(function () {
                                            $('#alertbox .alert').hide(500, 0).slideUp(1500, function () {
                                                $('#alertbox .alert').slideUp(500);
                                            });
                                        }, 2000);
                                        $("#level" + i).append(ul2);
                                    }
                                    else {
                                        $.each(response2, function (i1, k2) {
                                            level2++;
                                        });
                                        $.each(model2, function (i1, item2) {
                                            id = item2.Fk_UserId;
                                            var cssclass = "";
                                            var cssclaa = item2.CssClass;
                                            var Gender = item2.Gender;
                                            if (cssclaa == "active-member") {
                                                if (Gender == "M") {
                                                    cssclass = "men-active";
                                                }
                                                else {
                                                    cssclass = "girl-active";
                                                }
                                            }
                                            else if (cssclaa == "block-member") {
                                                if (Gender == "M") {
                                                    cssclass = "men-block";
                                                }
                                                else {
                                                    cssclass = "girl-block";
                                                }
                                            }
                                            else if (cssclaa == "inactive-member") {
                                                if (Gender == "M") {
                                                    cssclass = "men-inactive";
                                                }
                                                else {
                                                    cssclass = "girl-inactive";
                                                }
                                            }
                                            else {
                                                cssclass = "join-member";
                                            }
                                            if (level2 == 2) {
                                                if (id != '-1') {
                                                    child = " <li id='level" + i + i1 + "'><a data-bs-toggle='popover' id='levelLink" + i + i1 + "' href='" + item2.Href + "' class='from " + cssclass + " rounded-circle' " +
                                                              " onmouseover='openPopup(this," + '"' + item2.SponsorId + '"' + "," + '"' + cssclaa + '"' + "," + item2.Fk_UserId + "," + '"' + item2.LoginId + '"' + ", " + '"' + item2.MemberName + '"' + "," + '"' + item2.Leg + '"' + "," + '"' + item2.ParentLoginId + '"' + "," + '"' + item2.JoiningDate + '"' + "," + '"' + item2.ProductName + '"' + "," + '"' + item2.AllLeg1 + '"' + "," + '"' + item2.AllLeg2 + '"' + "," + '"' + item2.PermanentLeg1 + '"' + "," + '"' + item2.PermanentLeg2 + '"' + "," + '"' + item2.InactiveLeft + '"' + "," + '"' + item2.InactiveRight + '"' + "," + '"' + item2.PCountLeg1 + '"' + "," + '"' + item2.PCountLeg2 + '"' + "," + '"' + item2.PaidLeg1 + '"' + "," + '"' + item2.PaidLeg2 + '"' + "," + '"' + item2.BalanceLeft + '"' + "," + '"' + item2.BalanceRight + '"' + "," + '"' + item2.ProfilePic + '"' + "," + '"' + item2.ActivationDate + '"' + "," + '"' + item2.AllBusinessLeft + '"' + "," + '"' + item2.AllBusinessRight + '"' + "," + '"' + item2.ProductRightBusiness + '"' + "," + '"' + item2.ProductLeftBusiness + '"' + ")' " +
                                                              " onmouseout='closePopup(this)' href='#' " + clickOption + ">" +
                                                              "<div class='outer-ring " + cssclass + " rounded-circle'><div class='member-img " + cssclass + " rounded-circle'><i class='" + cssclass + "  rounded-circle'></i></div></div><span class='name member-name'>" +
                                                              " " + item2.LoginId + "</span> <span class='member-join-time'> " + item2.MemberName + "</span>" +
                                                              "<input type='hidden' id='" + item2.Fk_UserId + "' value='" + item2.Fk_UserId + "' />" +
                                                              "</a></li>";
                                                }
                                                else {
                                                    child = " <li id='level" + i + i1 + "'><a id='levelLink" + i + i1 + "' href='" + item2.Href + "' class='from " + cssclass + " rounded-circle'> " +
                                                            "<div class='outer-ring " + cssclass + " rounded-circle'><div class='member-img " + cssclass + " rounded-circle'><i class='" + cssclass + " rounded-circle'></i></div></div><span class='name member-name'>" +
                                                            " " + item2.LoginId + "</span> <span class='member-join-time'> " + item2.MemberName + "</span>" +
                                                            "<input type='hidden' id='" + item2.Fk_UserId + "' value='" + item2.Fk_UserId + "' />" +
                                                            "</a></li>";

                                                }
                                                ul2.append(child);
                                            }
                                            else {
                                                if (id != '-1') {
                                                    child = " <li id='level" + i + i1 + "'><a data-bs-toggle='popover' id='levelLink" + i + i1 + "' href='" + item2.Href + "' class='from " + cssclass + " rounded-circle' " +
                                                             " onmouseover='openPopup(this," + '"' + item2.SponsorId + '"' + "," + '"' + cssclaa + '"' + "," + item2.Fk_UserId + "," + '"' + item2.LoginId + '"' + ", " + '"' + item2.MemberName + '"' + "," + '"' + item2.Leg + '"' + "," + '"' + item2.ParentLoginId + '"' + "," + '"' + item2.JoiningDate + '"' + "," + '"' + item2.ProductName + '"' + "," + '"' + item2.AllLeg1 + '"' + "," + '"' + item2.AllLeg2 + '"' + "," + '"' + item2.PermanentLeg1 + '"' + "," + '"' + item2.PermanentLeg2 + '"' + "," + '"' + item2.InactiveLeft + '"' + "," + '"' + item2.InactiveRight + '"' + "," + '"' + item2.PCountLeg1 + '"' + "," + '"' + item2.PCountLeg2 + '"' + "," + '"' + item2.PaidLeg1 + '"' + "," + '"' + item2.PaidLeg2 + '"' + "," + '"' + item2.BalanceLeft + '"' + "," + '"' + item2.BalanceRight + '"' + "," + '"' + item2.ProfilePic + '"' + "," + '"' + item2.ActivationDate + '"' + "," + '"' + item2.AllBusinessLeft + '"' + "," + '"' + item2.AllBusinessRight + '"' + "," + '"' + item2.ProductRightBusiness + '"' + "," + '"' + item2.ProductLeftBusiness + '"' + ")' " +
                                                             " onmouseout='closePopup(this)' href='#' " + clickOption + ">" +
                                                             "<div class='outer-ring " + cssclass + " rounded-circle'><div class='member-img " + cssclass + " rounded-circle'><i class='" + cssclass + " rounded-circle'></i></div></div><span class='name member-name'>" +
                                                             " " + item2.LoginId + "</span> <span class='member-join-time'> " + item2.MemberName + "</span>" +
                                                             "<input type='hidden' id='" + item2.Fk_UserId + "' value='" + item2.Fk_UserId + "' />" +
                                                             "</a></li>";
                                                }
                                                else {
                                                    child = " <li id='level" + i + i1 + "'><a id='levelLink" + i + i1 + "' href='" + item2.Href + "' class='from " + cssclass + " rounded-circle' >" +
                                                            "<div class='outer-ring " + cssclass + " rounded-circle'><div class='member-img " + cssclass + " rounded-circle'><i class='" + cssclass + " rounded-circle'></i></div></div><span class='name member-name'>" +
                                                            " " + item2.LoginId + "</span> <span class='member-join-time'> " + item2.MemberName + "</span>" +
                                                            "<input type='hidden' id='" + item2.Fk_UserId + "' value='" + item2.Fk_UserId + "' />" +
                                                            "</a></li>";

                                                }
                                                freeBlock = "<li id='1'><a href='Registration.cshtml?Pid=" + item2.LoginId + "&amp;lg=" + item2.Leg + "' target='_blank'><img src='/Content/img/open-member.png'><br><span>Join Now</span></a></li>";
                                                if (item2.Leg == 'L') {
                                                    ul2.append(child + freeBlock);
                                                }
                                                else {
                                                    ul2.append(freeBlock + child);
                                                }
                                            }
                                            if (winWidth > 980) {
                                                if (id != null) {
                                                    $.ajax({
                                                        method: "GET",
                                                        url: window.location.origin + "/AgentServices/GetGeneologyForAdmin?memID=" + id,
                                                        //data: '{memID: ' + id + '}',
                                                        //contentType: "application/json; charset=utf-8",
                                                        //dataType: "json",
                                                        success: function (response3) {
                                                            var model3 = response3;
                                                            var ul3 = $("<ul></ul>");
                                                            var level3 = 0;
                                                            if (!$.trim(model3)) {
                                                                freeBlockL = "<li id='1'><a href='Registration.cshtml?Pid='123466'&amp;lg=L' target='_blank'><img src='/Content/img/open-member.png'><br><span>Join Now</span></a></li>";
                                                                freeBlockR = "<li id='2'><a href='Registration.cshtml?Pid='123466'&amp;lg=R' target='_blank'><img src='/Content/img/open-member.png'><br><span>Join Now</span></a></li>";

                                                                ul3.append(freeBlockL + freeBlockR);
                                                                $("#firstRow").fadeIn(500);
                                                                window.setTimeout(function () {
                                                                    $('#alertbox .alert').hide(500, 0).slideUp(1500, function () {
                                                                        $('#alertbox .alert').slideUp(500);
                                                                    });
                                                                }, 2000);
                                                                $("#level" + i + i1).append(ul3);
                                                            }
                                                            else {
                                                                $.each(response3, function (i2, k3) {
                                                                    level3++;
                                                                });
                                                                $.each(model3, function (i2, item3) {
                                                                    id = item3.Fk_UserId;
                                                                    var cssclass = "";
                                                                    var cssclaa = item3.CssClass;
                                                                    var Gender = item3.Gender;
                                                                    if (cssclaa == "active-member") {
                                                                        if (Gender == "M") {
                                                                            cssclass = "men-active";
                                                                        }
                                                                        else {
                                                                            cssclass = "girl-active";
                                                                        }
                                                                    }
                                                                    else if (cssclaa == "block-member") {
                                                                        if (Gender == "M") {
                                                                            cssclass = "men-block";
                                                                        }
                                                                        else {
                                                                            cssclass = "girl-block";
                                                                        }
                                                                    }
                                                                    else if (cssclaa == "inactive-member") {
                                                                        if (Gender == "M") {
                                                                            cssclass = "men-inactive";
                                                                        }
                                                                        else {
                                                                            cssclass = "girl-inactive";
                                                                        }
                                                                    }
                                                                    else {
                                                                        cssclass = "join-member";
                                                                    }
                                                                    if (level3 == 2) {
                                                                        if (id != '-1') {
                                                                            child = " <li id='level" + i + i1 + i2 + "'><a data-bs-toggle='popover' id='levelLink" + i + i1 + i2 + "' href='" + item3.Href + "' class='from " + cssclass + " rounded-circle' " +
                                                                                      " onmouseover='openPopup(this," + '"' + item3.SponsorId + '"' + "," + '"' + cssclaa + '"' + "," + item3.Fk_UserId + "," + '"' + item3.LoginId + '"' + ", " + '"' + item3.MemberName + '"' + "," + '"' + item3.Leg + '"' + "," + '"' + item3.ParentLoginId + '"' + "," + '"' + item3.JoiningDate + '"' + "," + '"' + item3.ProductName + '"' + "," + '"' + item3.AllLeg1 + '"' + "," + '"' + item3.AllLeg2 + '"' + "," + '"' + item3.PermanentLeg1 + '"' + "," + '"' + item3.PermanentLeg2 + '"' + "," + '"' + item3.InactiveLeft + '"' + "," + '"' + item3.InactiveRight + '"' + "," + '"' + item3.PCountLeg1 + '"' + "," + '"' + item3.PCountLeg2 + '"' + "," + '"' + item3.PaidLeg1 + '"' + "," + '"' + item3.PaidLeg2 + '"' + "," + '"' + item3.BalanceLeft + '"' + "," + '"' + item3.BalanceRight + '"' + "," + '"' + item3.ProfilePic + '"' + "," + '"' + item3.ActivationDate + '"' + "," + '"' + item3.AllBusinessLeft + '"' + "," + '"' + item3.AllBusinessRight + '"' + "," + '"' + item3.ProductRightBusiness + '"' + "," + '"' + item3.ProductLeftBusiness + '"' + ")' " +
                                                                                      " onmouseout='closePopup(this)' href='#' " + clickOption + ">" +
                                                                                      "<div class='outer-ring " + cssclass + " rounded-circle'><div class='member-img " + cssclass + " rounded-circle'><i class='" + cssclass + " rounded-circle'></i></div></div><span class='name member-name'>" +
                                                                                      " " + item3.LoginId + "</span> <span class='member-join-time'> " + item3.MemberName + "</span>" +
                                                                                      "<input type='hidden' id='" + item3.Fk_UserId + "' value='" + item3.Fk_UserId + "' />" +
                                                                                      "</a></li>";
                                                                        }
                                                                        else {
                                                                            child = " <li id='level" + i + i1 + i2 + "'><a id='levelLink" + i + i1 + i2 + "' href='" + item3.Href + "' class='from " + cssclass + " rounded-circle'> " +
                                                                                      "<div class='outer-ring " + cssclass + " rounded-circle'><div class='member-img " + cssclass + " rounded-circle'><i class='" + cssclass + " rounded-circle'></i></div></div><span class='name member-name'>" +
                                                                                      " " + item3.LoginId + "</span> <span class='member-join-time'> " + item3.MemberName + "</span>" +
                                                                                      "<input type='hidden' id='" + item3.Fk_UserId + "' value='" + item3.Fk_UserId + "' />" +
                                                                                      "</a></li>";
                                                                        }
                                                                        ul3.append(child);
                                                                    }
                                                                    else {
                                                                        if (id != '-1') {
                                                                            child = " <li id='level" + i + i1 + i2 + "'><a data-bs-toggle='popover' id='levelLink" + i + i1 + i2 + "' href='" + item3.Href + "' class='from " + cssclass + "' " +
                                                                                        " onmouseover='openPopup(this," + '"' + item3.SponsorId + '"' + "," + '"' + cssclaa + '"' + "," + item3.Fk_UserId + "," + '"' + item3.LoginId + '"' + ", " + '"' + item3.MemberName + '"' + "," + '"' + item3.Leg + '"' + "," + '"' + item3.ParentLoginId + '"' + "," + '"' + item3.JoiningDate + '"' + "," + '"' + item3.ProductName + '"' + "," + '"' + item3.AllLeg1 + '"' + "," + '"' + item3.AllLeg2 + '"' + "," + '"' + item3.PermanentLeg1 + '"' + "," + '"' + item3.PermanentLeg2 + '"' + "," + '"' + item3.InactiveLeft + '"' + "," + '"' + item3.InactiveRight + '"' + "," + '"' + item3.PCountLeg1 + '"' + "," + '"' + item3.PCountLeg2 + '"' + "," + '"' + item3.PaidLeg1 + '"' + "," + '"' + item3.PaidLeg2 + '"' + "," + '"' + item3.BalanceLeft + '"' + "," + '"' + item3.BalanceRight + '"' + "," + '"' + item3.ProfilePic + '"' + "," + '"' + item3.ActivationDate + '"' + "," + '"' + item3.AllBusinessLeft + '"' + "," + '"' + item3.AllBusinessRight + '"' + "," + '"' + item3.ProductRightBusiness + '"' + "," + '"' + item3.ProductLeftBusiness + '"' + ")' " +
                                                                                       " onmouseout='closePopup(this)' href='#' " + clickOption + ">" +
                                                                                       "<div class='outer-ring " + cssclass + "'><div class='member-img " + cssclass + "'><i class='" + cssclass + "'></i></div></div><span class='name member-name'>" +
                                                                                       " " + item3.LoginId + "</span> <span class='member-join-time'> " + item3.MemberName + "</span>" +
                                                                                       "<input type='hidden' id='" + item3.Fk_UserId + "' value='" + item3.Fk_UserId + "' />" +
                                                                                       "</a></li>";
                                                                        }
                                                                        else {
                                                                            child = " <li id='level" + i + i1 + i2 + "'><a id='levelLink" + i + i1 + i2 + "' href='" + item3.Href + "' class='from " + cssclass + "' >" +
                                                                                      "<div class='outer-ring " + cssclass + "'><div class='member-img " + cssclass + "'><i class='" + cssclass + "'></i></div></div><span class='name member-name'>" +
                                                                                      " " + item3.LoginId + "</span> <span class='member-join-time'> " + item3.MemberName + "</span>" +
                                                                                      "<input type='hidden' id='" + item3.Fk_UserId + "' value='" + item3.Fk_UserId + "' />" +
                                                                                      "</a></li>";
                                                                        }
                                                                        freeBlock = "<li id='1'><a href='Registration.cshtml?Pid=" + item3.LoginId + "&amp;lg=" + item3.Leg + "' target='_blank'><img src='/Content/img/open-member.png'><br><span>Join Now</span></a></li>";
                                                                        //if (item3.Leg == 'L') {
                                                                        //    ul3.append(child + freeBlock);
                                                                        //}
                                                                        //else {
                                                                        //    ul3.append(freeBlock + child);
                                                                        //}
                                                                        ul3.append(child);
                                                                    }
                                                                });
                                                                $("#level" + i + i1).append(ul3);
                                                            }
                                                        },
                                                        failure: function (response) {
                                                            console.log("Failed1" + response);
                                                            console.log(response);
                                                        },
                                                        error: function (response) {
                                                            console.log("Error1" + response);
                                                            console.log(response);
                                                        },
                                                        complete: function () {
                                                            $("#firstRow").fadeIn(1000);
                                                            $('[id*="level"]').fadeIn(500);
                                                        }
                                                    });
                                                }
                                            }
                                            else {
                                                $("#firstRow").fadeIn(1000);
                                                $("#firstHead").attr("style", "opacity:1;");
                                                $('[id*="level"]').fadeIn(300);
                                            }
                                        });
                                        $("#level" + i).append(ul2);
                                    }
                                    $("#firstRow").append(ul);
                                },
                                failure: function (response) {
                                    console.log("Failed2" + response);
                                    console.log(response);
                                },
                                error: function (response) {
                                    console.log("Error2" + response);
                                    console.log(response);
                                },
                                complete: function () {
                                    $("#firstRow").fadeIn(900);
                                    $('[id*="level"]').fadeIn(500);
                                }
                            });
                        }
                    }
                    else {
                        $("#firstRow").fadeIn(1000);
                        $("#firstHead").attr("style", "opacity:1;");
                        $('[id*="level"]').fadeIn(500);
                        $("#firstRow").append(ul);
                    }
                });
                $("#firstRow").append(ul);
            }
            $("#firstRow").append(ul);
            $('#divload').hide();
        }
    }

    function GetDataFirst(id, text) {
        $('#divload').show();
        $.ajax({
            "method": "GET",
            url: window.location.origin + "/AgentServices/GetUserFirstForAdmin?memID=" + id,
            //data: '{memID: ' + id + '}',
            //contentType: "application/json; charset=utf-8",
            //dataType: "json",
            success: OnSuccess2,

            failure: function (response) {
                $('#divload').hide();


            },
            error: function (response) {
                $('#divload').hide();

            }

        });

        function OnSuccess2(response) {

            var modal = response;
            $.each(modal, function (i, item) {

                $("#headClass span").text(item.MemberName + "(" + item.LoginId + ")");
                var status = item.Status;
                var gender = item.Gender;

                var cssclaa = '';

                if (status == "T") {
                    cssclaa = "inactive-member"
                }
                else if (status == "P") {
                    cssclaa = "active-member"
                }
                else {
                    cssclaa = "block-member"
                }

                if (status == "T") {
                    if (gender == "M") {
                        status = "men-inactive"
                    }
                    else {
                        status = "girl-inactive"
                    }
                }
                else if (status == "P") {

                    if (gender == "M") {
                        status = "men-active"
                    }
                    else {
                        status = "girl-active"
                    }
                }
                else {
                    if (gender == "M") {
                        status = "men-block"
                    }
                    else {
                        status = "girl-block"
                    }
                }
                var $firstHead = $("#firstHead");


                $firstHead.html("<div class='outer-ring " + status + "'><div class='member-img " + status + "'><i class='" + status + " rounded-circle'></i></div></div><span class='name member-name'>" + item.LoginId + "</span><span class='member-join-time'>" + item.MemberName + "</span>");
                //$firstHead.attr("onmouseover", "openPopup(this,'" + item.Fk_UserId + "','" + item.LoginId + "', '" + item.MemberName + "', '" + item.ParentLoginId + "')");
                $firstHead.attr("onmouseover", "openPopup(this,'" + item.SponsorId + "','" + cssclaa + "','" + item.Fk_UserId + "','" + item.LoginId + "', '" + item.MemberName + "','" + item.Leg + "','" + item.ParentLoginId + "','" + item.JoiningDate + "','" + item.ProductName + "','" + item.AllLeg1 + "','" + item.AllLeg2 + "','" + item.PermanentLeg1 + "','" + item.PermanentLeg2 + "','" + item.InactiveLeft + "','" + item.InactiveRight + "','" + item.PCountLeg1 + "','" + item.PCountLeg2 + "','" + item.PaidLeg1 + "','" + item.PaidLeg2 + "','" + item.BalanceLeft + "','" + item.BalanceRight + "','" + item.ProfilePic + "','" + item.ActivationDate + "'," + '"' + item.AllBusinessLeft + '"' + "," + '"' + item.AllBusinessRight + '"' + "," + '"' + item.ProductRightBusiness + '"' + "," + '"' + item.ProductLeftBusiness + '"' + ")");
                $firstHead.attr("data-bs-toggle", "popover");
                // $("#firstHead").attr("onclick", "ClickHere(this;)");
                $("#firstHead").attr("class", status);
                $("#firstHead").attr("style", "opacity: 1;");
                $("#firstHead").attr("href", "#");
                $("#lblRequest").val(item.ParentId);
                if (text == "clicked") {
                    $("#firstRow").html('');
                    $("#firstRow").append($firstHead);
                    GetData(item.Fk_UserId);
                }
            });
            $("#linkGoUp").attr("readonly", false);

        }

    }


    $(function () {
        $("#btnSearch").click(function () {
            if ($("#txtLoginID").val() != "") {
                $.ajax({
                    url: window.location.origin + '/AgentServices/SearchCustomersByLoginId2?prefix=' + $("#txtLoginID").val(),
                    //data: "{ 'prefix': '" + $("#txtLoginID").val() + "'}",
                    //dataType: "json",
                    method: "GET",
                    //contentType: "application/json; charset=utf-8",
                    success: OnSuccessThis,
                    error: function (response) {
                        console.log(response.responseText);
                    },
                    failure: function (response) {
                        console.log(response.responseText);
                    },
                    select: function (e, i) {
                        $("[id$=hfCustomerId]").val(i.item.val);
                    },
                });
            }


            function OnSuccessThis(data) {

                console.log(data);
                var r = data;
                $(r).each(function () {
                    $("[id$=hfCustomerId]").val(this.split('.')[1]);
                    if ($("#hfCustomerId").val() != "") {
                        if ($("#txtLoginID").val() == "") {
                            Fk_UserId = $("#firtsMemberID").val();

                        }
                        else {
                            Fk_UserId = $("#hfCustomerId").val();
                            $("#firstRow").find('ul').remove();
                            GetDataFirst(Fk_UserId);
                            GetData(Fk_UserId);
                        }
                    }
                })
            }
        });
    });
    //$(function () {
    //    $("#txtLoginID").autocomplete({
    //        source: function (request, response) {
    //            $.ajax({
    //                url: '/Models/WebService/AgentServices.asmx/SearchCustomersByLoginId',
    //                data: "{ 'prefix': '" + request.term + "'}",
    //                dataType: "json",
    //                type: "POST",
    //                contentType: "application/json; charset=utf-8",
    //                success: function (data) {
    //                    response($.map(data.d, function (item) {
    //                        return {
    //                            label: item.split('-')[0],
    //                            val: item.split('-')[1]
    //                        }
    //                    }))
    //                },
    //                error: function (response) {
    //                    alert(response.responseText);
    //                },
    //                failure: function (response) {
    //                    alert(response.responseText);
    //                }
    //            });
    //        },
    //        select: function (e, i) {
    //            $("[id$=hfCustomerId]").val(i.item.val);
    //        },
    //        minLength: 2
    //    });
    //});

    //$(document).ready(function () {
    //    var settings = {
    //        "url": "http://panel.moonliteagro.com/apiv1/AgentServices/GetUserFirstForAdmin?memID=1",
    //        "method": "GET",
    //        "timeout": 0,
    //    };

    //    $.ajax(settings).done(function (response) {
    //        console.log(response);
    //    });
    //})
</script>
