<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Trust Radhe</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/WebsiteCss/images/radhekunj_logo.png" type="img/x-icon" rel="shortcut icon">
    <!-- Place favicon.ico in the root directory -->
    <!-- CSS here -->
    <link rel="stylesheet" href="/WebsiteCss/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/WebsiteCss/assets/css/animate.min.css">
    <link rel="stylesheet" href="/WebsiteCss/assets/css/icofont.min.css">
    <link rel="stylesheet" href="/WebsiteCss/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="/WebsiteCss/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/WebsiteCss/assets/css/odometer.min.css">
    <link rel="stylesheet" href="/WebsiteCss/assets/css/nice-select.css">
    <link rel="stylesheet" href="/WebsiteCss/assets/css/meanmenu.css">
    <link rel="stylesheet" href="/WebsiteCss/assets/css/swipper.css">
    <link rel="stylesheet" href="/WebsiteCss/assets/css/main.css">
</head>

<body>
    <!-- sidebar-information-area-start -->
    <div class="sidebar-info side-info">
        <div class="sidebar-logo-wrapper">
            <div class="row align-items-center">
                <div class="col-xl-6 col-8">
                    <div class="sidebar-logo">
                        <a href="/Home/Index"><img src="/WebsiteCss/images/radhekunj_logo.png" alt="logo-img"></a>
                    </div>
                </div>
                <div class="col-xl-6 col-4">
                    <div class="sidebar-close-wrapper text-end">
                        <button class="sidebar-close side-info-close"><i class="fal fa-times"></i></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="sidebar-menu-wrapper fix">
            <div class="mobile-menu"></div>
        </div>

        <div class="sidebar-contact-wrapper mt-40">
            <div class="sidebar-contact mb-40">
                <h4 class="sidebar-contact-title">Contact Info</h4>
                <span class="sidebar-address"><i class="fal fa-map-marker-alt"></i><span> Gomti Nagar, Lucknow</span> </span>
                <a href="tel:+919876543210"><i class="fal fa-phone"></i><span>+ (91) 9876543210</span></a>
                <a href="mailto:trustradhe@gmail.com" class="theme-3"><i class="fal fa-envelope"></i><span><span>trustradhe@gmail.com</span></span></a>
            </div>
        </div>
    </div>
    <div class="offcanvas-overlay"></div>
    <!-- sidebar-information-area-end -->
    <!-- header area start -->
    <header>
        <div class="ns-header-area">
            <div class="ns-header-topbar ns-header-topbar-2 d-none d-md-block">
                <div class="ns-header-topbar-wrap-2 container">
                    <div class="ns-header-topbar-left ns-header-topbar-left-2">
                        <span class="ns-header-topbar-shape"></span>
                        <span>Visit our social pages:</span>
                        <div class="ns-header-topbar-social">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a href="#"><i class="fab fa-behance"></i></a>
                        </div>
                    </div>
                    <div class="ns-header-topbar-right ns-header-topbar-right-2">
                        <div class="ns-header-topbar-lan-img">
                            <a href="mailto:trustradhe@gmail.com" class="text-white"><i class="icofont-envelope"></i> trustradhe@gmail.com</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ns-header-navbar ns-header-navbar-2 container">
                <div class="row align-items-center">
                    <div class="col-xl-2 col-lg-2 col-md-4 col-6">
                        <div class="ns-header-logo-2">
                            <a href="/Home/Index"><img src="/WebsiteCss/images/radhekunj_logo.png" alt="Not Found"></a>
                        </div>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-8 col-6">
                        <div class="ns-header-menu-2">
                            <nav class="ns-header-main-menu mobile-menu d-none d-lg-block" id="mobile-menu">
                                <ul>
                                    <li>
                                        <a href="/Home/Index">Home</a>
                                    </li>
                                    <li><a href="/Home/AboutUs">About Us</a></li>
                                    <li>
                                        <a href="/Home/Gallery">Our Gallery</a>
                                    </li>
                                    <li>
                                        <a href="/Home/ContactUs">Contact Us</a>
                                    </li>
                                </ul>
                            </nav>
                            <div class="ns-header-menu-right">
                                <div class="ns-header-menu-btn d-none d-xl-block">
                                    <a href="/Home/Login" class="ns-header-btn ns-theme-btn">Login <i class="fal fa-arrow-right"></i></a>
                                </div>
                                <div class="menu-bar d-lg-none">
                                    <div class="navbar-sign side-toggle ml-20">
                                        <i class="fal fa-bars"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header area end -->

        @RenderBody()
        
    <!-- newsletter area start -->
    <div class="ns-newsletter-area ns-newsletter-area-2">
        <div class="container">
            <div class="ns-newsletter-wrap">
                <div class="ns-newsletter-icon">
                    <img src="/WebsiteCss/assets/img/newsletter/newsletter-icon.png" alt="Not Found">
                </div>
                <div class="ns-newsletter-inner">
                    <img src="/WebsiteCss/assets/img/newsletter/map.png" alt="Not Found" class="ns-newsletter-shape-3">
                    <img src="/WebsiteCss/assets/img/newsletter/shape-1.png" alt="Not Found" class="ns-newsletter-shape-1">
                    <img src="/WebsiteCss/assets/img/newsletter/shape-2.png" alt="Not Found" class="ns-newsletter-shape-2">
                    <div class="row align-items-center">
                        <div class="col-xl-6 col-lg-6">
                            <div class="ns-newsletter-content mb-30">
                                <h3 class="ns-newsletter-title">
                                    News Letter to connect our services in your area
                                </h3>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="ns-newsletter-input mb-30">
                                <input type="email" placeholder="Your Email">
                                <button class="ns-newsletter-btn" type="submit">Subscribe</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- newsletter area end -->

    <!-- footer area start -->
    <footer class="ns-footer-area ns-footer-area-2 bg-default" data-background="/WebsiteCss/assets/img/footer/footer-bg.png">
        <img src="/WebsiteCss/assets/img/footer/footer-shape-1.png" alt="Not Found" class="ns-footer-shape-1 ns-footer-shape">
        <img src="/WebsiteCss/assets/img/footer/footer-map.png" alt="Not Found" class="ns-footer-shape-2 ns-footer-shape">
        <div class="ns-footer-top pt-220 pb-15">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-xl-3 col-lg-5 col-md-6">
                        <div class="ns-footer-widget mb-40">
                            <div class="ns-footer-logo">
                                <a href="/Home/Index"><img src="/WebsiteCss/images/radhekunj_logo.png" alt="Not Found"></a>
                            </div>
                            <p class="ns-footer-widget-text">
                                Trust Radhe is a direct selling organization offering wide range personal case lifestyle products..
                            </p>
                            <div class="ns-footer-social">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                <a href="#"><i class="fab fa-behance"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-5 col-md-5">
                        <div class="ns-footer-widget mb-40">
                            <h3 class="ns-footer-widget-title">Quick Links</h3>
                            <div class="ns-footer-widget-list">
                                <ul>
                                    <li><a href="/Home/Index">Home</a></li>
                                    <li><a href="/Home/AboutUs">About Us</a></li>
                                    <li><a href="/Home/Gallery">Our Gallery</a></li>
                                    <li><a href="/Home/ContactUs">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-5 col-md-6">
                        <div class="ns-footer-widget mb-40">
                            <h3 class="ns-footer-widget-title">Our Contacts</h3>
                            <div class="ns-footer-widget-contact">
                                <p>
                                    Gomti Nagar, Lucknow
                                </p>
                                <div class="ns-footer-widget-contact-info mb-15">
                                    <span>Phone:<a href="tel:+919876543210">+91 9876543210</a></span>
                                </div>
                                <div class="ns-footer-widget-contact-info">
                                    <span>Email:<a href="mailto:trustradhe@mail.com"> trustradhe@mail.com</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-5 col-md-5">
                        <div class="ns-footer-widget mb-40">
                            <h3 class="ns-footer-widget-title">Recent Post</h3>
                            <div class="ns-footer-widget-post mb-20">
                                <div class="ns-footer-widget-post-img w_img">
                                    <a href="#"><img src="/WebsiteCss/assets/img/footer/post-1.png" alt="Not Found"></a>
                                </div>
                                <div class="ns-footer-widget-post-content">
                                    <span>23 jun 2023</span>
                                    <h5 class="ns-footer-widget-post-title">
                                        <a href="#">
                                            Get around easily
                                            york service
                                        </a>
                                    </h5>
                                </div>
                            </div>
                            <div class="ns-footer-widget-post">
                                <div class="ns-footer-widget-post-img w_img">
                                    <a href="#"><img src="/WebsiteCss/assets/img/footer/post-2.png" alt="Not Found"></a>
                                </div>
                                <div class="ns-footer-widget-post-content">
                                    <span>23 jun 2023</span>
                                    <h5 class="ns-footer-widget-post-title">
                                        <a href="#">
                                            Get around easily
                                            york service
                                        </a>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="ns-footer-copyright">
                <div class="row">
                    <div class="col-xl-12 col-md-12 col-sm-12">
                        <div class="ns-footer-copyright-text">
                            <p>Copyright &copy; 2023<span> Trust Radhe.</span> All Rights Reserved || Designed and developed by <a href="" target="blank">Afluex Multiservices LLP</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer area end -->

    <!-- JS here -->
    <script src="/WebsiteCss/assets/js/jquery.min.js"></script>
    <script src="/WebsiteCss/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/WebsiteCss/assets/js/swipper-bundle.min.js"></script>
    <script src="/WebsiteCss/assets/js/jquery.meanmenu.min.js"></script>
    <script src="/WebsiteCss/assets/js/wow.min.js"></script>
    <script src="/WebsiteCss/assets/js/jquery.nice-select.min.js"></script>
    <script src="/WebsiteCss/assets/js/jquery.scrollUp.min.js"></script>
    <script src="/WebsiteCss/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="/WebsiteCss/assets/js/odometer.min.js"></script>
    <script src="/WebsiteCss/assets/js/appear.min.js"></script>
    <script src="/WebsiteCss/assets/js/main.js"></script>
</body>
</html>
