
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_WebsiteLayout.cshtml";
}

<main>
    <!-- banner area start -->
    <section class="ns-banner-area">
        <div class="ns-banner-single bg-default" data-background="/WebsiteCss/assets/img/banner/banner-1.jpg">
            <img class="ns-banner-shape-1 ns-shape-img d-none d-md-block" src="/WebsiteCss/assets/img/banner/shape-1.png" alt="Not Found">
            <img class="ns-banner-shape-2 ns-shape-img d-none d-xxl-block" src="/WebsiteCss/assets/img/banner/shape-2.png" alt="Not Found">
            <img class="ns-banner-shape-3 ns-shape-img" src="/WebsiteCss/assets/img/banner/shape-3.png" alt="Not Found">
            <img class="ns-banner-shape-5 ns-shape-img" src="/WebsiteCss/assets/img/banner/shape-5.png" alt="Not Found">
            <div class="container">
                <div class="row">
                    <div class="col-xl-7">
                        <div class="ns-banner-content">
                            <span class="ns-banner-content-subtitle">Welcome To Trust Radhe</span>
                            <h2 class="ns-banner-content-title">
                                Better Solution At Your Fingertips
                            </h2>
                            <p>Trust Radhe is a direct selling organization offering wide range personal case lifestyle products and services to all world wide customers.</p>
                            <div class="ns-banner-action-btn">
                                <a href="/Home/ContactUs" class="ns-header-btn ns-theme-btn">Contact Us <i class="fal fa-arrow-right"></i></a>
                                <a href="tel:919876543210" class="ns-play-btn"><i class="fas fa-phone"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner area end -->
    <!-- about area start -->
    <section class="ns-about-area pt-120 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <div class="ns-about-left bg-default mb-40" data-background="/WebsiteCss/assets/img/about/shape-2.png">
                        <div class="ns-about-img-1 mb-10">
                            <div class="ns-about-img-inner">
                                <img class="inner-img-1" src="/WebsiteCss/assets/img/about/about-1.jpg" alt="Not Found">
                                <a class="ns-about-play-btn popup-video" href="https://www.youtube.com/watch?v=SopsEuNKyPo"><img src="/WebsiteCss/assets/img/about/play-btn.png" alt="Not Found"></a>
                            </div>
                            <div class="ns-about-img-content">
                                <h4 class="ns-about-inner-title">Experince</h4>
                                <h5 class="ns-about-count">
                                    <span class="odometer about_count" data-count="10">00</span><span class="ns-about-plus">+</span>
                                </h5>
                            </div>
                        </div>
                        <div class="ns-about-img-wrap-2">
                            <div class="ns-about-img-inner-2">
                                <img class="inner-img-2" src="/WebsiteCss/assets/img/about/about-2.jpg" alt="Not Found">
                                <img class="ns-about-shape" src="/WebsiteCss/assets/img/about/shape-1.png" alt="Not Found">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="ns-about-wrap mb-40">
                        <div class="ns-section mb-25">
                            <span class="ns-section-subtitle">About Our Company</span>
                            <h2 class="ns-section-title mb-15">
                                Welcome To Trust Radhe
                            </h2>
                            <p class="ns-section-text mb-0">
                                Trust Radhe is a direct selling organization offering wide range personal case lifestyle products and services to all world wide customers.                        
                            </p>
                            <p class="ns-section-text mb-0">
                                Trust Radhe above all a family organization we lead diverse management team that support direct sellers and their ambitions.
                            </p>
                        </div>
                        <div class="ns-about-content">
                            <div class="row row-20">
                                <div class="col-xl-8 col-lg-8 col-md-7 col-sm-8">
                                    <div class="ns-about-content-info mb-55">
                                        <div class="ns-about-content-tab">
                                            <h5 class="ns-about-content-tab-title"><a href="#">Our Mission</a></h5>
                                            <div>
                                                <a class="ns-about-content-tab-icon" href="#"><i class="icofont-life-ring"></i></a>
                                            </div>
                                        </div>
                                        <div class="ns-about-content-tab">
                                            <h5 class="ns-about-content-tab-title"><a href="#">Team Support</a></h5>
                                            <div>
                                                <a class="ns-about-content-tab-icon" href="#"><i class="icofont-live-support"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ns-about-content-list">
                                        <ul>
                                            <li><i class="icofont-tick-boxed"></i>Truthfulness</li>
                                            <li><i class="icofont-tick-boxed"></i>Accountablity</li>
                                            <li><i class="icofont-tick-boxed"></i>Honesty</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-5 col-sm-4">
                                    <div class="ns-about-content-info-right mb-50">
                                        <h5 class="inner-title">Project Job</h5>
                                        <div class="ns-about-info-inner">
                                            <p>
                                                <span></span> In handcraft job gives you
                                                as
                                                front adm in
                                                reviews.
                                            </p>
                                            <a class="ns-about-info-inner-btn" href="project-details.html"><i class="fas fa-chevron-circle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about area end -->
    <!-- service area start -->
    <section class="ns-service-area-2 pt-110 pb-115 p-relative">
        <img src="/WebsiteCss/assets/img/service/home-2_service-bg.jpg" alt="" class="ns-service-bg-img-2">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="ns-section mb-50 text-center">
                        <span class="ns-section-subtitle">What We Do</span>
                        <h2 class="ns-section-title mb-0">We High Service That Stand</h2>
                    </div>
                </div>
            </div>
            <div class="ns-service-wrap-2">
                <div class="swiper-container service-active-2">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="ns-service-item ns-service-item-2">
                                <div class="ns-service-img ns-service-img-2 w_img">
                                    <a href="project-details.html"><img src="/WebsiteCss/assets/img/service/service-1.jpg" alt="Not Found"></a>
                                    <div class="ns-service-content-icon ns-service-content-icon-2">
                                        <i class="icofont-mega-phone"></i>
                                    </div>
                                </div>
                                <div class="ns-service-content ns-service-content-2">
                                    <h4 class="ns-service-content-title ns-service-content-title-2"><a href="project-details.html">Advanced Analytics</a></h4>
                                    <p>
                                        Strategy experience and analytical expertise combine to enable decision making and create value.
                                    </p>
                                    <a href="project-details.html" class="ns-service-btn ns-service-btn-2">Read More<i class="icofont-plus"></i></a>
                                    <span class="ns-service-shape-1 ns-service-shape-21"></span>
                                    <span class="ns-service-shape-2 ns-service-shape-22"></span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="ns-service-item ns-service-item-2">
                                <div class="ns-service-img ns-service-img-2 w_img">
                                    <a href="project-details.html"><img src="/WebsiteCss/assets/img/service/service-2.jpg" alt="Not Found"></a>
                                    <div class="ns-service-content-icon ns-service-content-icon-2">
                                        <i class="icofont-bars"></i>
                                    </div>
                                </div>
                                <div class="ns-service-content ns-service-content-2">
                                    <h4 class="ns-service-content-title ns-service-content-title-2"><a href="project-details.html">Corporate Finance</a></h4>
                                    <p>
                                        Linking corporate strategy, financial strategy, transactions and a capital markets perspective to create value.
                                    </p>
                                    <a href="project-details.html" class="ns-service-btn ns-service-btn-2">Read More<i class="icofont-plus"></i></a>
                                    <span class="ns-service-shape-1 ns-service-shape-21"></span>
                                    <span class="ns-service-shape-2 ns-service-shape-22"></span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="ns-service-item ns-service-item-2">
                                <div class="ns-service-img ns-service-img-2 w_img">
                                    <a href="project-details.html"><img src="/WebsiteCss/assets/img/service/service-3.jpg" alt="Not Found"></a>
                                    <div class="ns-service-content-icon ns-service-content-icon-2">
                                        <i class="icofont-contrast"></i>
                                    </div>
                                </div>
                                <div class="ns-service-content ns-service-content-2">
                                    <h4 class="ns-service-content-title ns-service-content-title-2"><a href="project-details.html">Change Management</a></h4>
                                    <p>
                                        Managing change effectively is a source of competitive advantage, yet few organizations do it well.
                                    </p>
                                    <a href="project-details.html" class="ns-service-btn ns-service-btn-2">Read More<i class="icofont-plus"></i></a>
                                    <span class="ns-service-shape-1 ns-service-shape-21"></span>
                                    <span class="ns-service-shape-2 ns-service-shape-22"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ns-service-bottom ns-service-bottom-2 mt-50">
                    <div class="ns-service-pagination ns-service-pagination-2"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- service area end -->
    <!-- management area start -->
    <section class="ns-management-area p-relative pt-95 pb-100">
        <img src="/WebsiteCss/assets/img/management/bg-img.png" alt="" class="ns-management-bg">
        <div class="ns-management-head-icon">
            <a href="about.html"><img src="/WebsiteCss/assets/img/management/headphones-icon-2.png" alt=""></a>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-12">
                    <div class="ns-section mb-35">
                        <span class="ns-section-subtitle">About Our Company</span>
                        <h2 class="ns-section-title mb-15 ns-section-title-white">
                            We Want To Be A Part Of Our Team ?
                        </h2>
                        <p class="ns-section-text ns-section-text-white mb-0">In job gives you handcrafted options such as front adm in reviews or email notifications. It also gives employer management fo apps ial media in area.</p>
                    </div>
                    <div class="ns-management-content mb-50">
                        <ul>
                            <li>
                                <span class="ns-management-content-icon"><i class="icofont-check"></i></span>
                                <div class="ns-management-content-info">
                                    <h5>Business Development Manager</h5>
                                    <p>
                                        Organized and well-connected Business Development Manager focused on solution selling to build trusted relationships with companies.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <span class="ns-management-content-icon"><i class="icofont-check"></i></span>
                                <div class="ns-management-content-info">
                                    <h5>Project Lead</h5>
                                    <p>
                                        We are home to a team of smart, driven consultants and leaders who come to work every day to think, grow, and achieve.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <span class="ns-management-content-icon"><i class="icofont-check"></i></span>
                                <div class="ns-management-content-info">
                                    <h5>Business Solutions Analyst</h5>
                                    <p>
                                        Consulting provide a hybrid of business and strategy acumen paired with the know-how to execute even tough client problems.
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="ns-management-list">
                        <div class="ns-management-list-item">
                            <span><i class="icofont-ui-copy"></i></span>
                            <h5><a href="/Home/AboutUs">Service</a></h5>
                        </div>
                        <div class="ns-management-list-item ">
                            <span><i class="icofont-mega-phone"></i></span>
                            <h5><a href="/Home/AboutUs">Support</a></h5>
                        </div>
                        <div class="ns-management-list-item">
                            <span><i class="icofont-ui-browser"></i></span>
                            <h5><a href="/Home/AboutUs">Analysis</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ns-management-img">
            <img src="/WebsiteCss/assets/img/management/1.png" alt="" class="ns-inner-img">
            <div class="ns-management-img-icon">
                <a href="/Home/AboutUs"><img src="/WebsiteCss/assets/img/management/press-icon-2.png" alt=""></a>
            </div>
        </div>
    </section>
    <!-- management area end -->
    <!-- project area start -->
    <section class="ns-project-area pt-110 pb-115">
        <img class="ns-project-bg" src="/WebsiteCss/assets/img/project/bg-project.jpg" alt="Not Found">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="ns-section mb-50 text-center">
                        <span class="ns-section-subtitle">Our Gallery</span>
                        <h2 class="ns-section-title mb-0">We Best Work</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-custom-1 container">
            <div class="ns-project-wrap">
                <div class="project-active swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="ns-project-item">
                                <div class="ns-project-img w_img">
                                    <img src="/WebsiteCss/assets/img/project/project-1.jpg" alt="Not Found">
                                </div>
                                <div class="ns-project-content">
                                    <div class="ns-project-content-info">
                                        <h4 class="ns-project-content-title"><a href="/Home/Gallery">Business Network</a></h4>
                                        <span>Design / Business</span>
                                    </div>
                                    <div class="ns-project-content-btn">
                                        <a href="/Home/Gallery"><i class="fas fa-chevron-circle-right"></i></a>
                                    </div>
                                </div>
                                <span class="ns-project-shape-1 ns-project-shape"></span>
                                <span class="ns-project-shape-2 ns-project-shape"></span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="ns-project-item">
                                <div class="ns-project-img w_img">
                                    <img src="/WebsiteCss/assets/img/project/project-2.jpg" alt="Not Found">
                                </div>
                                <div class="ns-project-content">
                                    <div class="ns-project-content-info">
                                        <h4 class="ns-project-content-title"><a href="/Home/Gallery">Business Network</a></h4>
                                        <span>Design / Business</span>
                                    </div>
                                    <div class="ns-project-content-btn">
                                        <a href="/Home/Gallery"><i class="fas fa-chevron-circle-right"></i></a>
                                    </div>
                                </div>
                                <span class="ns-project-shape-1 ns-project-shape"></span>
                                <span class="ns-project-shape-2 ns-project-shape"></span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="ns-project-item">
                                <div class="ns-project-img w_img">
                                    <img src="/WebsiteCss/assets/img/project/project-3.jpg" alt="Not Found">
                                </div>
                                <div class="ns-project-content">
                                    <div class="ns-project-content-info">
                                        <h4 class="ns-project-content-title"><a href="project-details.html">Business Network</a></h4>
                                        <span>Design / Business</span>
                                    </div>
                                    <div class="ns-project-content-btn">
                                        <a href="/Home/Gallery"><i class="fas fa-chevron-circle-right"></i></a>
                                    </div>
                                </div>
                                <span class="ns-project-shape-1 ns-project-shape"></span>
                                <span class="ns-project-shape-2 ns-project-shape"></span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="ns-project-item">
                                <div class="ns-project-img w_img">
                                    <img src="/WebsiteCss/assets/img/project/project-4.jpg" alt="Not Found">
                                </div>
                                <div class="ns-project-content">
                                    <div class="ns-project-content-info">
                                        <h4 class="ns-project-content-title"><a href="/Home/Gallery">Business Network</a></h4>
                                        <span>Design / Business</span>
                                    </div>
                                    <div class="ns-project-content-btn">
                                        <a href="/Home/Gallery"><i class="fas fa-chevron-circle-right"></i></a>
                                    </div>
                                </div>
                                <span class="ns-project-shape-1 ns-project-shape"></span>
                                <span class="ns-project-shape-2 ns-project-shape"></span>
                            </div>
                        </div>
                    </div>
                    <div class="ns-project-pagination mt-50"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- project area end -->
   
    <!-- recent area start -->
    <div class="ns-recent-area pt-110 pb-115">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="ns-section mb-50 text-center">
                        <span class="ns-section-subtitle">What We Do</span>
                        <h2 class="ns-section-title mb-0">We High Service That Stand</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                    <div class="ns-recent-item pb-40">
                        <img src="/WebsiteCss/assets/img/recent/recent-shape-1.png" alt="" class="ns-recent-item-shape-1">
                        <div class="ns-recent-item-img">
                            <img src="/WebsiteCss/assets/img/recent/1.jpg" alt="">
                            <span>01</span>
                        </div>
                        <div class="ns-recent-item-content">
                            <h4 class="ns-recent-title"><a href="/Home/Gallery">Research</a></h4>
                            <p>
                                Find Sources, Evaluate Sources, Establish a Working
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                    <div class="ns-recent-item pb-40">
                        <img src="/WebsiteCss/assets/img/recent/recent-shape-2.png" alt="" class="ns-recent-item-shape-2">
                        <div class="ns-recent-item-img">
                            <img src="/WebsiteCss/assets/img/recent/2.jpg" alt="">
                            <span class="ns-recent-count-2">02</span>
                        </div>
                        <div class="ns-recent-item-content">
                            <h4 class="ns-recent-title"><a href="/Home/Gallery">Targeting</a></h4>
                            <p>
                                Breaking a market into segments & customers whose desires
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                    <div class="ns-recent-item pb-40">
                        <div class="ns-recent-item-img">
                            <img src="/WebsiteCss/assets/img/recent/3.jpg" alt="">
                            <span>03</span>
                        </div>
                        <div class="ns-recent-item-content">
                            <h4 class="ns-recent-title"><a href="/Home/Gallery">Results</a></h4>
                            <p>
                                Results are the specific actions to prevent future problems.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="ns-recent-area-btn text-center">
                        <a href="/Home/Gallery" class="ns-recent-btn ns-theme-btn">View Working More <i class="fal fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- recent area end -->
    
</main>