
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Dharaworld Harbal Products</title>
    <!-- Stylesheets -->
    <link href="../../WebsiteCss/css/bootstrap.css" rel="stylesheet">
    <link href="../../WebsiteCss/css/style.css" rel="stylesheet">
    <link href="../../WebsiteCss/css/responsive.css" rel="stylesheet">
    <!--Color Switcher Mockup-->
    <link href="../../WebsiteCss/css/color-switcher-design.css" rel="stylesheet">
    <!--Color Themes-->
    <link id="theme-color-file" href="../../WebsiteCss/css/color-themes/default-theme.css" rel="stylesheet">

    <link rel="shortcut icon" href="../../WebsiteCss/images/favicon.png" type="image/x-icon">
    <link rel="icon" href="../../WebsiteCss/images/favicon.png" type="image/x-icon">
    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>
    <div class="landing-page-scroll" style="display: block;">
        <a href="/Home/Website">
            <h6 class="text-white">Continue to website</h6>
        </a>
    </div>
    <div class="page-wrapper">
        <!-- Preloader -->
        <div class="preloader"></div>
        <section class="landing-page2">
            <div class="auto-container">
                <div class="dharaworld-pop text-center">
                    <img src="../../WebsiteCss/images/landing-logo.png" class="landing1 img-responsive" alt="dhara-world-logo">
                </div>
                <div class="space2"></div>
                <div class="title-heading2 text-center">
                    <h2>Dw India Promoter Leader's ( IPL )</h2>
                </div>
                <div class="space1"></div>
                <!--MixitUp Galery-->
                <div class="mixitup-gallery">
                    <div class="row">
                        <!-- Project Block -->
                        <div class="project-block mix1 col-lg-4 col-md-4 col-sm-12">
                            <div class="image-box">
                                <figure class="image"><img src="../../WebsiteCss/images/dhara-world-pop/popup-1.jpg" alt="legal-document"></figure>
                                <div class="overlay-box">
                                    <div class="btn-box">
                                        <a href="../../WebsiteCss/images/dhara-world-pop/popup-1.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fa fa-search"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Project Block -->
                        <div class="project-block mix1 col-lg-4 col-md-4 col-sm-12">
                            <div class="image-box">
                                <figure class="image"><img src="../../WebsiteCss/images/dhara-world-pop/popup-2.jpg" alt="legal-document"></figure>
                                <div class="overlay-box">
                                    <div class="btn-box">
                                        <a href="../../WebsiteCss/images/dhara-world-pop/popup-2.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fa fa-search"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Project Block -->
                        <div class="project-block mix1 col-lg-4 col-md-4 col-sm-12">
                            <div class="image-box">
                                <figure class="image"><img src="../../WebsiteCss/images/dhara-world-pop/popup-3.jpg" alt="legal-document"></figure>
                                <div class="overlay-box">
                                    <div class="btn-box">
                                        <a href="../../WebsiteCss/images/dhara-world-pop/popup-3.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fa fa-search"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Project Block -->
                        <div class="project-block mix1 col-lg-4 col-md-4 col-sm-12">
                            <div class="image-box">
                                <figure class="image"><img src="../../WebsiteCss/images/dhara-world-pop/popup-4.jpg" alt="legal-document"></figure>
                                <div class="overlay-box">
                                    <div class="btn-box">
                                        <a href="../../WebsiteCss/images/dhara-world-pop/popup-4.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fa fa-search"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Project Block -->
                        <div class="project-block mix1 col-lg-4 col-md-4 col-sm-12">
                            <div class="image-box">
                                <figure class="image"><img src="../../WebsiteCss/images/dhara-world-pop/popup-5.jpg" alt="legal-document"></figure>
                                <div class="overlay-box">
                                    <div class="btn-box">
                                        <a href="../../WebsiteCss/images/dhara-world-pop/popup-5.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fa fa-search"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Project Block -->
                        <div class="project-block mix1 col-lg-4 col-md-4 col-sm-12">
                            <div class="image-box">
                                <figure class="image"><img src="../../WebsiteCss/images/dhara-world-pop/popup-6.jpg" alt="legal-document"></figure>
                                <div class="overlay-box">
                                    <div class="btn-box">
                                        <a href="../../WebsiteCss/images/dhara-world-pop/popup-6.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fa fa-search"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        

    </div>
    <footer class="main-footer alternate" style="background-image: url(images/background/5.jpg);">

        <div class="footer-bottom">
            <div class="auto-container">
                <div class="inner-container clearfix">
                    <div class="social-links">
                        <ul class="social-icon-two1">
                            <li>
                                Design &amp; Developed by
                                <a style="color: #fc2840;" href="https://www.afluex.com/" target="_blank">Afluex Multiservices LLP</a>
                            </li>
                        </ul>
                    </div>

                    <div class="copyright-text">
                        <p>
                            Copyright © 2019 Dhara World Health &amp; Personal Care Pvt Ltd ‐ All Rights Reserved
                            <a href="http://dharaworld.com/" target="_blank"></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--Scroll to top-->
    <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-arrow-circle-o-up"></span></div>
    <script src="../../WebsiteCss/js/jquery.js"></script>
    <script src="../../WebsiteCss/js/popper.min.js"></script>
    <script src="../../WebsiteCss/js/bootstrap.min.js"></script>
    <script src="../../WebsiteCss/js/jquery.fancybox.js"></script>
    <script src="../../WebsiteCss/js/owl.js"></script>
    <script src="../../WebsiteCss/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="../../WebsiteCss/js/wow.js"></script>
    <script src="../../WebsiteCss/js/appear.js"></script>
    <script src="../../WebsiteCss/js/mixitup.js"></script>
    <script src="../../WebsiteCss/js/script.js"></script>
    <!-- Color Setting -->
    <script src="../../WebsiteCss/js/color-settings.js"></script>

</body>

</html>