@model TrustRadhe.Models.Home

@{
    Layout = null;
}
<html class="no-js" lang="zxx">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>Trust Radhe</title>
    <!-- General CSS Files -->
    <link rel="stylesheet" href="../assets/css/app.min.css">
    <link rel="stylesheet" href="../assets/bundles/bootstrap-social/bootstrap-social.css">
    <!-- Template CSS -->
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/components.css">
    <!-- Custom style CSS -->
    <link href="~/WebsiteCss/images/radhekunj_logo.png" type="img/x-icon" rel="shortcut icon">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"/>
</head>

<body clas="background-image-body">
    <div class="loader"></div>
    <div class="d-lg-flex half">
        <div class="bg order-1 order-md-2" style="background-image: url('/WebsiteCss/images/login_bg.png');"></div>
        <div class="contents order-2 order-md-1">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-7">
                        <center><img src="~/WebsiteCss/images/radhekunj_logo.png" style="height:8rem" class="img-fluid" alt="Trust radhe logo" /></center>
                        <h4 class="mb-5 mt-2 text-center">Login to <strong>Admin Panel</strong></h4>
                       @using (Html.BeginForm("LoginAction", "Home", FormMethod.Post, new { @id = "signupForm" }))
                       {
                            <div class="form-group first">
                                <label for="username">Login Id</label>
                                @Html.TextBoxFor(m => m.LoginId, new { @Placeholder = "Login Id", @class = "form-control", @required = "required" })
                            </div>
                            <div class="form-group last mb-3">
                                <label for="password">Password</label>
                                @Html.PasswordFor(m => m.Password, new { @Placeholder = "Password", @class = "form-control", @required = "required" })
                            </div>
                           
                            <button type="submit" class="btn btn-lg btn-block btn-primary mt-5" name="Login">
                                Login
                            </button>
                            <div class="mt-4 text-center">
                                <span>Don't have an account yet ?<a href="/Home/Registration"> Sign Up</a></span>
                            </div>
                            <div class="text-center mt-4">
                                <a href="/Home/Index" class="text-decoration-none"><i class="fa fa-home"></i> Back to home</a>
                            </div>
                       }
                    </div>
                </div>
            </div>
        </div>
    </div>
 
  
    <script src="../assets/js/app.min.js"></script>
    <!-- Template JS File -->
    <script src="../assets/js/scripts.js"></script>

</body>
</html>