
@{
    ViewBag.Title = "ProductList";
    Layout = "~/Views/Shared/_WebisteLayout.cshtml";
}

<section class="page-title" style="background-image:url(../../WebsiteCss/images/background/about-banner.jpg);">
    <div class="auto-container">
        <div class="inner-container clearfix">
            <div class="title-box">
                <h1>Product List</h1>
                <span class="title">The Best Trusted Product For You</span>
            </div>
            <ul class="bread-crumb clearfix">
                <li><a href="/Home/Website" class="text-white">Home</a></li>
                <li class="text-white">Product List</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->
<section class="product-categories">
    <div class="auto-container">
        <!--Product List Start-->
        <div class="row no-gutters">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead class="productlist11">
                            <tr>
                                <th>S / No </th>
                                <th>Product Name</th>
                                <th>Product Code</th>
                                <th>QTY</th>
                                <th>MRP</th>
                                <th>DP</th>
                                <th>BV</th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="7">
                                    <h4 class="text-center text-green">JUICES</h4>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Nutrex Power Juice</td>
                                <td>DW002</td>
                                <td>750ML</td>
                                <td>3499</td>
                                <td>2099.4</td>
                                <td>2099.4</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Nutrex Gold Juice</td>
                                <td>DW003</td>
                                <td>750ML</td>
                                <td>3499</td>
                                <td>2099.4</td>
                                <td>2099.4</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Nutrex Nari Saundarya</td>
                                <td>DW004</td>
                                <td>750ML</td>
                                <td>1599</td>
                                <td>959.4</td>
                                <td>959.4</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Nutrex Aloe Nactor</td>
                                <td>DW005</td>
                                <td>750ML</td>
                                <td>1499</td>
                                <td>899.4</td>
                                <td>899.4</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Nutrex Kids Grow</td>
                                <td>DW006</td>
                                <td>500ML</td>
                                <td>1499</td>
                                <td>899.4</td>
                                <td>899.4</td>
                            </tr>                          
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--End Product List-->
        <!--Product List Start-->
        <div class="row no-gutters">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td colspan="7">
                                    <h4 class="text-center text-green">
                                        TABLETS
                                    </h4>
                                </td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>Nutrex Spirullina tab</td>
                                <td>DW007</td>
                                <td>60 TAB</td>
                                <td>999</td>
                                <td>599.4</td>
                                <td>599.4</td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>Nutrex Calcium tab</td>
                                <td>DW008</td>
                                <td>60 TAB</td>
                                <td>999</td>
                                <td>599.4</td>
                                <td>599.4</td>
                            </tr>                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--End Product List-->
        <!--Product List Start-->
        <div class="row no-gutters">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td colspan="7">
                                    <h4 class="text-center text-green">
                                        DROPS
                                    </h4>
                                </td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>Nutrex Fennel Drops</td>
                                <td>DW009</td>
                                <td>30 ML</td>
                                <td>350</td>
                                <td>210</td>
                                <td>210</td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td>Nutrex Tulsi Drops</td>
                                <td>DW010</td>
                                <td>30 ML</td>
                                <td>299</td>
                                <td>179.4</td>
                                <td>179.4</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--End Product List-->
        <!--Product List Start-->
        <div class="row no-gutters">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td colspan="7">
                                    <h4 class="text-center text-green">
                                        SYRUPS
                                    </h4>
                                </td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>Nutrex RaktSodhak Syp</td>
                                <td>DW011</td>
                                <td>200 ML</td>
                                <td>199</td>
                                <td>119.4</td>
                                <td>119.4</td>
                            </tr>
                            <tr>
                                <td>11</td>
                                <td>Nutrex Liv care Syp</td>
                                <td>DW012</td>
                                <td>200 ML</td>
                                <td>199</td>
                                <td>119.4</td>
                                <td>119.4</td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td>Nutrex Enzyme Syp</td>
                                <td>DW013</td>
                                <td>200 ML</td>
                                <td>199</td>
                                <td>119.4</td>
                                <td>119.4</td>
                            </tr>
                            <tr>
                                <td>13</td>
                                <td>Nutrex Cough Care Syp</td>
                                <td>DW014</td>
                                <td>200 ML</td>
                                <td>199</td>
                                <td>119.4</td>
                                <td>119.4</td>
                            </tr>
                            <tr>
                                <td>14</td>
                                <td>Nutrex Hemlron Syp</td>
                                <td>DW015</td>
                                <td>200 ML</td>
                                <td>199</td>
                                <td>119.4</td>
                                <td>119.4</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--End Product List-->
        <!--Product List Start-->
        <div class="row no-gutters">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td colspan="7">
                                    <h4 class="text-center text-green">
                                        OIL
                                    </h4>
                                </td>
                            </tr>
                            <tr>
                                <td>15</td>
                                <td>Nutrex Hair Oil</td>
                                <td>DW016</td>
                                <td>200 ML</td>
                                <td>251</td>
                                <td>150.6</td>
                                <td>150.6</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--End Product List-->
        <!--Product List Start-->
        <div class="row no-gutters">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td colspan="7">
                                    <h4 class="text-center text-green">
                                        SHAMPO0
                                    </h4>
                                </td>
                            </tr>
                            <tr>
                                <td>16</td>
                                <td>Nutrex Anti Dandruff Shampoo</td>
                                <td>DW017</td>
                                <td>100 ML</td>
                                <td>299</td>
                                <td>179.4</td>
                                <td>179.4</td>
                            </tr>
                            <tr>
                                <td>17</td>
                                <td>Nutrex Herbal Shampoo</td>
                                <td>DW018</td>
                                <td>200 ML</td>
                                <td>299</td>
                                <td>179.4</td>
                                <td>179.4</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--End Product List-->
        <!--Product List Start-->
        <div class="row no-gutters">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td colspan="7">
                                    <h4 class="text-center text-green">
                                        LOTION
                                    </h4>
                                </td>
                            </tr>
                            <tr>
                                <td>18</td>
                                <td>Nutrex Body Lotion</td>
                                <td>DW022</td>
                                <td>200 ML</td>
                                <td>299</td>
                                <td>179.4</td>
                                <td>179.4</td>
                            </tr>                           
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--End Product List-->
    </div>
</section>
<!--Clients Section-->
<section class="clients-section style-two">
    <div class="auto-container">
        <div class="sponsors-outer">
            <!--Sponsors Carousel-->
            <ul class="sponsors-carousel owl-carousel owl-theme">
                <li class="slide-item">
                    <figure class="image-box">
                        <a href="#"><img src="../../WebsiteCss/images/clients/certi-1.jpg" alt="client"></a>
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box">
                        <a href="#"><img src="../../WebsiteCss/images/clients/certi-2.jpg" alt="client"></a>
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box">
                        <a href="#"><img src="../../WebsiteCss/images/clients/certi-3.jpg" alt="client"></a>
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box">
                        <a href="#"><img src="../../WebsiteCss/images/clients/certi-4.jpg" alt="client"></a>
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box">
                        <a href="#"><img src="../../WebsiteCss/images/clients/certi-5.jpg" alt="client"></a>
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box">
                        <a href="#"><img src="../../WebsiteCss/images/clients/certi-6.jpg" alt="client"></a>
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box">
                        <a href="#"><img src="../../WebsiteCss/images/clients/certi-7.jpg" alt="client"></a>
                    </figure>
                </li>
            </ul>
        </div>
    </div>
</section>