
@{
    ViewBag.Title = "Terminations";
    Layout = "~/Views/Shared/_WebisteLayout.cshtml";
}
<!-- End Main Header -->
<!--Page Title-->
<section class="page-title" style="background-image:url(../WebsiteCss/images/background/5.jpg)">
    <div class="auto-container">
        <div class="clearfix">
            <div class="pull-left">
                <div class="title">Welcome to Make Way Reality Pvt. Ltd.</div>
                <h2>Terminations</h2>
            </div>
            <div class="pull-right">
                <ul class="page-breadcrumb">
                    <li><a href="/Home/Website">home</a></li>
                    <li>Terminations</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--End Page Title-->
<!-- Sidebar Page Container -->
<div class="sidebar-page-container">
    <div class="auto-container">
        <div class="row clearfix">

            <!--Sidebar Side-->
            <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
                <aside class="sidebar">
                    <div class="sidebar-inner">

                        <!-- Contact Widget -->
                        <div class="sidebar-widget contact-widget">
                            <div class="widget-content"
                                 style="background-image:url(../WebsiteCss/images/background/pattern-12.png)">
                                <div class="icon flaticon-phone-call"></div>
                                <div class="text">Got any Questions? <br> Call Us Today</div>
                                <div class="number">+91 7275 065834</div>
                                <div class="email">support@afluex.in</div>
                            </div>
                        </div>

                    </div>
                </aside>
            </div>

            <!--Content Side-->
            <div class="content-side col-lg-8 col-md-12 col-sm-12">
                <div class="service-detail">
                    <div class="inner-box">
                        <div class="lower-content">
                            <div class="text">                                
                                <p>
                                    <strong>The Company shall be at complete liberty to terminate the direct sellership in occurrence of any of the following event:-</strong>
                                </p>
                                <p>1. Where a direct seller (Make Way Reality Retailer) is found to have made no purchases by himself / herself of goods and services for a period of 6 months since the date of joining the direct sellership or where there is no purchases by himself / herself of goods or services for a continuous period of 12 months since the date of the last purchases made.</p>
                                <p>2. Make Way Reality is an optional Home Based Business opportunity, hence no Make Way Reality Distributor is allowed to promote Make Way Reality Remuneration plan in their respective colleges / institutes / Universities and work places. Where a Direct Seller (Make Way Reality Retailer / Make Way Reality Distributor) found to violate such conditions would lead to strict action or immediate termination.</p>
                                <p>3. Where a direct seller (Make Way Reality Retailer / Make Way Reality Distributor) failed to comply with any terms and conditions.</p>
                                <p>4. Where information given by direct seller (Make Way Reality Retailer / Make Way Reality Distributor) found wrong / false / misleading.</p>
                                <p>5. Where direct seller (Make Way Reality Retailer / Make Way Reality Distributor) permanently migrates to another country.</p>
                                <p>6. Where direct seller (Make Way Reality Retailer / Make Way Reality Distributor) is convicted of an offence punishable imprisonment of any term.</p>
                                <p>7. Where direct seller (Make Way Reality Retailer / Make Way Reality Distributor) resign voluntarily.</p>
                                <p>8. Where company deem it necessary to terminate the direct seller (Make Way Reality Retailer / Make Way Reality Distributor) in the interest of company’s business or in the interest of others direct sellers connected in his / her group / teams.</p>
                                <p>Any Direct Seller (Make Way Reality Retailer / Make Way Reality Distributor) not performing as per the conditions laid down by the company is liable to be terminated.</p>
                                

                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>