
@{
    ViewBag.Title = "Vission";
    Layout = "~/Views/Shared/_WebisteLayout.cshtml";
}
<!--Page Title-->
<section class="page-title" style="background-image:url(../WebsiteCss/images/background/5.jpg)">
    <div class="auto-container">
        <div class="clearfix">
            <div class="pull-left">
                <div class="title">Welcome to Make Way Reality Pvt. Ltd.</div>
                <h2>Mission & Vision</h2>
            </div>
            <div class="pull-right">
                <ul class="page-breadcrumb">
                    <li><a href="/Home/Website">home</a></li>
                    <li>Mission & Vision</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--End Page Title-->
<!-- Introduction Section -->
<section class="introduction-section">
    <div class="auto-container">
        <div class="row clearfix">
            <!-- Image Column -->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="image">
                        <img src="../WebsiteCss/images/mission.jpg" alt="" />
                    </div>
                </div>
            </div>

            <!-- Content Column -->
            <div class="content-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="sec-title">
                        <h2>Mission & Vision</h2>
                    </div>
                    <div class="text">
                        <p>
                            Upleftiong people to enhance their lifestyle by helping them to achive their dreams
                            and ambitions Make Way Reality Pvt. Ltd. aims to provide quality products and services
                            an offordable rates and by doing this we fulfil our souble responsibility to the
                            society.
                        </p>
                        <p>
                            Make Way Reality Pvt. Ltd. is commited to delivering products and services as home
                            ownership.
                        </p>
                        <p>
                            Our Vision to be global ethical leader within the direct selling Industry and
                            development of sustaimble and professional directselling communities around the
                            world.
                        </p>

                    </div>

                </div>
            </div>
        </div>

    </div>
</section>

