
@{
    ViewBag.Title = "Website";
    Layout = "~/Views/Shared/_WebisteLayout.cshtml";
}

<!--Hero Section start-->
<div class="hero-section section position-relative">

    <!--Hero Slider start-->
    <div class="hero-slider section">

        <!--Hero Item start-->
        <div class="hero-item" style="background-image: url(../WebsiteCss/images/hero/hero-1.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-12">

                        <!--Hero Content start-->
                        <div class="hero-property-content text-center">

                            <h1 class="title"><a href="#">Find Your Favourite Home</a></h1>
                            <span class="location"><img src="~/WebsiteCss/images/icons/hero-marker.png" alt=""> We provide best homes in Lucknow </span>
                            <div class="type-wrap">
                                <span class="type">For Rent</span>
                                <!-- <span class="price">₹ 5500 <span>Month</span></span> -->
                            </div>


                        </div>
                        <!--Hero Content end-->

                    </div>
                </div>
            </div>
        </div>
        <!--Hero Item end-->
        <!--Hero Item start-->
        <div class="hero-item" style="background-image: url(../WebsiteCss/images/hero/hero-3.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-12">

                        <!--Hero Content start-->
                        <div class="hero-property-content text-center">

                            <h1 class="title"><a href="#">Make Way Reality provide </a></h1>
                            <span class="location">The best opportunity to find your dream home.</span>
                            <div class="type-wrap">
                                <span class="type">For Rent</span>
                                <!-- <span class="price">₹ 5550 <span>Month</span>b</span> -->
                            </div>
                            <!-- <ul class="property-feature"> 
                                <li>
                                    <img src="assets/images/icons/hero-area.png" alt=""><span>550 SqFt</span>
                                </li>
                                <li>
                                    <img src="assets/images/icons/hero-bed.png" alt=""><span>6 Bed</span>
                                </li>
                                <li>
                                    <img src="assets/images/icons/hero-bath.png" alt=""><span>4 Bath</span>
                                </li>
                                <li>
                                    <img src="assets/images/icons/hero-parking.png" alt=""><span>3 Garage</span>
                                </li>
                            </ul> -->


                        </div>
                        <!--Hero Content end-->

                    </div>
                </div>
            </div>
        </div>
        <!--Hero Item end-->

    </div>
    <!--Hero Slider end-->

</div>
<!--Hero Section end-->
<!--Welcome Make Way Reality-->
<div class="feature-section feature-section-border-top section pt-100 pt-lg-80 pt-md-70 pt-sm-60 pt-xs-50 pb-60 pb-lg-40 pb-md-30 pb-sm-20 pb-xs-10">
    <div class="container">
        <div class="row row-25 align-items-center">

            <!--Feature Image start-->
            <div class="col-lg-5 col-12 mb-30 order-1 order-lg-2">
                <div class="agent-image">
                    <img src="~/WebsiteCss/images/others/about.jpg" alt="">
                </div>
            </div>
            <!--Feature Image end-->

            <div class="col-lg-7 col-12 rder-2 order-lg-1 mb-40">

                <div class="row">
                    <div class="col">
                        <div class="about-content">
                            <h3>Welcome to <span>Make Way Reality</span></h3>
                            <h1>We Always Provide Priority to Our Customer</h1>
                            <p>The company has a diverse range of expertise that allows them to have a good oversight and management of all aspects of a project right from the acquisition of land, appointment of architects and designers, construction, sales to after sales service.</p>

                            <ul class="feature-list">
                                <li>
                                    <i class="pe-7s-piggy"></i>
                                    <h4>Low Cost</h4>
                                </li>
                                <li>
                                    <i class="pe-7s-science"></i>
                                    <h4>Modern Design</h4>
                                </li>
                                <li>
                                    <i class="pe-7s-display1"></i>
                                    <h4>Good Marketing</h4>
                                </li>
                                <li>
                                    <i class="pe-7s-signal"></i>
                                    <h4>Free Wifi</h4>
                                </li>
                                <li>
                                    <i class="pe-7s-map"></i>
                                    <h4>Easy to Find</h4>
                                </li>
                                <li>
                                    <i class="pe-7s-shield"></i>
                                    <h4>Reliable</h4>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
<!--Welcome Make Way Reality-->
<!--News Section start-->
<div class="news-section section pb-100 pb-lg-80 pb-md-70 pb-sm-60 pb-xs-50">
    <div class="container">

        <!--Section Title start-->
        <div class="row">
            <div class="col-md-12 mb-60 mb-xs-30">
                <div class="section-title center">
                    <h1>Latest News</h1>
                </div>
            </div>
        </div>
        <!--Section Title end-->

        <div class="row">
            <div class="news-carousel section">

                <!--News start-->
                <div class="col">
                    <div class="news">
                        <div class="image">
                            <a href="#"><img src="~/WebsiteCss/images/news/news-1.jpg" alt=""></a>
                            <div class="meta-wrap">
                                <ul class="meta">
                                    <li>By <a href="#">Donald</a></li>
                                    <li>September 30, 2018</li>
                                </ul>
                                <ul class="meta back">
                                    <li>By <a href="#">Donald</a></li>
                                    <li>September 30, 2018</li>
                                </ul>
                            </div>
                        </div>
                        <div class="content">
                            <h4 class="title"><a href="#">Duplex Villa with Altra Concept</a></h4>
                            <div class="desc">
                                <p>Make Way Reality is a best real estate company. Make Way Reality provide you your dream home.</p>
                            </div>
                            <a href="#" class="readmore">Continure Reading</a>
                        </div>
                    </div>
                </div>
                <!--News end-->
                <!--News start-->
                <div class="col">
                    <div class="news">
                        <div class="image">
                            <a href="#"><img src="~/WebsiteCss/images/news/news-2.jpg" alt=""></a>
                            <div class="meta-wrap">
                                <ul class="meta">
                                    <li>By <a href="#">Donald</a></li>
                                    <li>September 30, 2018</li>
                                </ul>
                                <ul class="meta back">
                                    <li>By <a href="#">Donald</a></li>
                                    <li>September 30, 2018</li>
                                </ul>
                            </div>
                        </div>
                        <div class="content">
                            <h4 class="title"><a href="#">Joint Mortgage: Pros vs. Cons</a></h4>
                            <div class="desc">
                                <p>Make Way Reality is a best real estate company. Make Way Reality provide you your dream home.</p>
                            </div>
                            <a href="#" class="readmore">Continure Reading</a>
                        </div>
                    </div>
                </div>
                <!--News end-->
                <!--News start-->
                <div class="col">
                    <div class="news">
                        <div class="image">
                            <a href="#"><img src="~/WebsiteCss/images/news/news-3.jpg" alt=""></a>
                            <div class="meta-wrap">
                                <ul class="meta">
                                    <li>By <a href="#">Sean</a></li>
                                    <li>September 30, 2018</li>
                                </ul>
                                <ul class="meta back">
                                    <li>By <a href="#">Sean</a></li>
                                    <li>September 30, 2018</li>
                                </ul>
                            </div>
                        </div>
                        <div class="content">
                            <h4 class="title"><a href="#">Dealing with Student Loan Debt</a></h4>
                            <div class="desc">
                                <p>Make Way Reality is a best real estate company. Make Way Reality provide you your dream home.</p>
                            </div>
                            <a href="#" class="readmore">Continure Reading</a>
                        </div>
                    </div>
                </div>
                <!--News end-->
                <!--News start-->
                <div class="col">
                    <div class="news">
                        <div class="image">
                            <a href="#"><img src="~/WebsiteCss/images/news/news-4.jpg" alt=""></a>
                            <div class="meta-wrap">
                                <ul class="meta">
                                    <li>By <a href="#">Sean</a></li>
                                    <li>September 30, 2018</li>
                                </ul>
                                <ul class="meta back">
                                    <li>By <a href="#">Sean</a></li>
                                    <li>September 30, 2018</li>
                                </ul>
                            </div>
                        </div>
                        <div class="content">
                            <h4 class="title"><a href="#">Bridging the home ownership gap</a></h4>
                            <div class="desc">
                                <p>Make Way Reality is a best real estate company. Make Way Reality provide you your dream home.</p>
                            </div>
                            <a href="#" class="readmore">Continure Reading</a>
                        </div>
                    </div>
                </div>
                <!--News end-->

            </div>
        </div>
    </div>
</div>
<!--News Section end-->
<!--Services section start-->
<div class="service-section section pt-100 pt-lg-80 pt-md-70 pt-sm-60 pt-xs-50 pb-70 pb-lg-50 pb-md-40 pb-sm-30 pb-xs-20">
    <div class="container">

        <!--Section Title start-->
        <div class="row">
            <div class="col-md-12 mb-60 mb-xs-30">
                <div class="section-title center">
                    <h1>Our Services</h1>
                </div>
            </div>
        </div>
        <!--Section Title end-->

        <div class="row row-30 align-items-center">
            <div class="col-lg-5 col-12 mb-30">
                <div class="property-slider-2">
                    <div class="property-2">
                        <div class="property-inner">
                            <a href="#" class="image"><img src="../WebsiteCss/images/property/property-13.jpg" alt=""></a>
                            <div class="content">
                                <h4 class="title"><a href="#">Friuli-Venezia Giulia</a></h4>
                                <span class="location">568 E 1st Ave, Miami</span>
                                <h4 class="type">Rent <span>₹ 550 <span>Month</span></span></h4>
                                <ul>
                                    <li>6 Bed</li>
                                    <li>4 Bath</li>
                                    <li>3 Garage</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="property-2">
                        <div class="property-inner">
                            <a href="#" class="image"><img src="~/WebsiteCss/images/property/property-14.jpg" alt=""></a>
                            <div class="content">
                                <h4 class="title"><a href="#">Marvel de Villa</a></h4>
                                <span class="location">450 E 1st Ave, New Jersey</span>
                                <h4 class="type">Rent <span>₹ 550 <span>Month</span></span></h4>
                                <ul>
                                    <li>6 Bed</li>
                                    <li>4 Bath</li>
                                    <li>3 Garage</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-12">
                <div class="row row-20">

                    <!--Service start-->
                    <div class="col-md-6 col-12 mb-30">
                        <div class="service">
                            <div class="service-inner">
                                <div class="head">
                                    <div class="icon"><img src="~/WebsiteCss/images/service/service-1.png" alt=""></div>
                                    <h4>Buy Property</h4>
                                </div>
                                <div class="content">
                                    <p>Make Way Reality is a best real estate company. Make Way Reality provide you your dream home.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Service end-->
                    <!--Service start-->
                    <div class="col-md-6 col-12 mb-30">
                        <div class="service">
                            <div class="service-inner">
                                <div class="head">
                                    <div class="icon"><img src="~/WebsiteCss/images/service/service-2.png" alt=""></div>
                                    <h4>Sale Property</h4>
                                </div>
                                <div class="content">
                                    <p>Make Way Reality is a best real estate company. Make Way Reality provide you your dream home.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Service end-->
                    <!--Service start-->
                    <div class="col-md-6 col-12 mb-30">
                        <div class="service">
                            <div class="service-inner">
                                <div class="head">
                                    <div class="icon"><img src="~/WebsiteCss/images/service/service-3.png" alt=""></div>
                                    <h4>Rent Property</h4>
                                </div>
                                <div class="content">
                                    <p>Make Way Reality is a best real estate company. Make Way Reality provide you your dream home.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Service end-->
                    <!--Service start-->
                    <div class="col-md-6 col-12 mb-30">
                        <div class="service">
                            <div class="service-inner">
                                <div class="head">
                                    <div class="icon"><img src="~/WebsiteCss/images/service/service-4.png" alt=""></div>
                                    <h4>Mortgage Property</h4>
                                </div>
                                <div class="content">
                                    <p>Make Way Reality is a best real estate company. Make Way Reality provide you your dream home.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Service end-->

                </div>
            </div>
        </div>

    </div>
</div>
<!--Services section end-->
<!--Funfact Section start-->
<div class="funfact-section section pt-100 pt-lg-80 pt-md-70 pt-sm-60 pt-xs-50 pb-70 pb-lg-50 pb-md-40 pb-sm-30 pb-xs-20" style="background-image: url(../WebsiteCss/images/bg/cta-bg.jpg)">
    <div class="container">
        <div class="row">

            <!--Funfact start-->
            <div class="single-fact col-lg-3 col-6 mb-30">
                <div class="inner">
                    <div class="head">
                        <i class="pe-7s-home"></i>
                        <h3 class="counter">854</h3>
                    </div>
                    <p>Complete Project</p>
                </div>
            </div>
            <!--Funfact end-->
            <!--Funfact start-->
            <div class="single-fact col-lg-3 col-6 mb-30">
                <div class="inner">
                    <div class="head">
                        <i class="pe-7s-graph3"></i>
                        <h3 class="counter">854</h3>
                    </div>
                    <p>Property Sold</p>
                </div>
            </div>
            <!--Funfact end-->
            <!--Funfact start-->
            <div class="single-fact col-lg-3 col-6 mb-30">
                <div class="inner">
                    <div class="head">
                        <i class="pe-7s-users"></i>
                        <h3 class="counter">854</h3>
                    </div>
                    <p>Happy Clients</p>
                </div>
            </div>
            <!--Funfact end-->
            <!--Funfact start-->
            <div class="single-fact col-lg-3 col-6 mb-30">
                <div class="inner">
                    <div class="head">
                        <i class="pe-7s-medal"></i>
                        <h3 class="counter">854</h3>
                    </div>
                    <p>Awards Win</p>
                </div>
            </div>
            <!--Funfact end-->

        </div>
    </div>
</div>
<!--Funfact Section end-->
<!--Feature property section start-->
<div class="property-section section bg-gray pt-100 pt-lg-80 pt-md-70 pt-sm-60 pt-xs-50 pb-100 pb-lg-80 pb-md-70 pb-sm-60 pb-xs-50">
    <div class="container">

        <!--Section Title start-->
        <div class="row">
            <div class="col-md-12 mb-60 mb-xs-30">
                <div class="section-title center">
                    <h1>Feature Property</h1>
                </div>
            </div>
        </div>
        <!--Section Title end-->

        <div class="row">

            <!--Property Slider start-->
            <div class="property-carousel section">

                <!--Property start-->
                <div class="property-item col">
                    <div class="property-inner">
                        <div class="image">
                            <a href="#"><img src="~/WebsiteCss/images/property/property-1.jpg" alt=""></a>
                            <ul class="property-feature">
                                <li>
                                    <span class="area"><img src="~/WebsiteCss/images/icons/area.png" alt="">550 SqFt</span>
                                </li>
                                <li>
                                    <span class="bed"><img src="~/WebsiteCss/images/icons/bed.png" alt="">6</span>
                                </li>
                                <li>
                                    <span class="bath"><img src="~/WebsiteCss/images/icons/bath.png" alt="">4</span>
                                </li>
                                <li>
                                    <span class="parking"><img src="~/WebsiteCss/images/icons/parking.png" alt="">3</span>
                                </li>
                            </ul>
                        </div>
                        <div class="content">
                            <div class="left">
                                <h3 class="title"><a href="#">Friuli-Venezia Giulia</a></h3>
                                <span class="location"><img src="~/WebsiteCss/images/icons/marker.png" alt="">568 E 1st Ave, Miami</span>
                            </div>
                            <div class="right">
                                <div class="type-wrap">
                                    <span class="price">₹ 550<span>M</span></span>
                                    <span class="type">For Rent</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Property end-->
                <!--Property start-->
                <div class="property-item col">
                    <div class="property-inner">
                        <div class="image">
                            <span class="label">Feature</span>
                            <a href="#"><img src="~/WebsiteCss/images/property/property-2.jpg" alt=""></a>
                            <ul class="property-feature">
                                <li>
                                    <span class="area"><img src="~/WebsiteCss/images/icons/area.png" alt="">550 SqFt</span>
                                </li>
                                <li>
                                    <span class="bed"><img src="~/WebsiteCss/images/icons/bed.png" alt="">6</span>
                                </li>
                                <li>
                                    <span class="bath"><img src="~/WebsiteCss/images/icons/bath.png" alt="">4</span>
                                </li>
                                <li>
                                    <span class="parking"><img src="~/WebsiteCss/images/icons/parking.png" alt="">3</span>
                                </li>
                            </ul>
                        </div>
                        <div class="content">
                            <div class="left">
                                <h3 class="title"><a href="#">Marvel de Villa</a></h3>
                                <span class="location"><img src="~/WebsiteCss/images/icons/marker.png" alt="">450 E 1st Ave, New Jersey</span>
                            </div>
                            <div class="right">
                                <div class="type-wrap">
                                    <span class="price">₹ 2550</span>
                                    <span class="type">For Sale</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Property end-->
                <!--Property start-->
                <div class="property-item col">
                    <div class="property-inner">
                        <div class="image">
                            <span class="label">popular</span>
                            <a href="#"><img src="~/WebsiteCss/images/property/property-3.jpg" alt=""></a>
                            <ul class="property-feature">
                                <li>
                                    <span class="area"><img src="~/WebsiteCss/images/icons/area.png" alt="">550 SqFt</span>
                                </li>
                                <li>
                                    <span class="bed"><img src="~/WebsiteCss/images/icons/bed.png" alt="">6</span>
                                </li>
                                <li>
                                    <span class="bath"><img src="~/WebsiteCss/images/icons/bath.png" alt="">4</span>
                                </li>
                                <li>
                                    <span class="parking"><img src="~/WebsiteCss/images/icons/parking.png" alt="">3</span>
                                </li>
                            </ul>
                        </div>
                        <div class="content">
                            <div class="left">
                                <h3 class="title"><a href="#">Ruposi Bangla Cottage</a></h3>
                                <span class="location"><img src="~/WebsiteCss/images/icons/marker.png" alt="">215 L AH Rod, California</span>
                            </div>
                            <div class="right">
                                <div class="type-wrap">
                                    <span class="price">₹ 550<span>M</span></span>
                                    <span class="type">For Rent</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Property end-->
                <!--Property start-->
                <div class="property-item col">
                    <div class="property-inner">
                        <div class="image">
                            <a href="#"><img src="~/WebsiteCss/images/property/property-4.jpg" alt=""></a>
                            <ul class="property-feature">
                                <li>
                                    <span class="area"><img src="~/WebsiteCss/images/icons/area.png" alt="">550 SqFt</span>
                                </li>
                                <li>
                                    <span class="bed"><img src="~/WebsiteCss/images/icons/bed.png" alt="">6</span>
                                </li>
                                <li>
                                    <span class="bath"><img src="~/WebsiteCss/images/icons/bath.png" alt="">4</span>
                                </li>
                                <li>
                                    <span class="parking"><img src="~/WebsiteCss/images/icons/parking.png" alt="">3</span>
                                </li>
                            </ul>
                        </div>
                        <div class="content">
                            <div class="left">
                                <h3 class="title"><a href="#">MayaKanon de Villa</a></h3>
                                <span class="location"><img src="~/WebsiteCss/images/icons/marker.png" alt="">12 EA 1st Ave, Washington</span>
                            </div>
                            <div class="right">
                                <div class="type-wrap">
                                    <span class="price">₹ 550<span>M</span></span>
                                    <span class="type">For Rent</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Property end-->
                <!--Property start-->
                <div class="property-item col">
                    <div class="property-inner">
                        <div class="image">
                            <a href="#"><img src="~/WebsiteCss/images/property/property-5.jpg" alt=""></a>
                            <ul class="property-feature">
                                <li>
                                    <span class="area"><img src="~/WebsiteCss/images/icons/area.png" alt="">550 SqFt</span>
                                </li>
                                <li>
                                    <span class="bed"><img src="~/WebsiteCss/images/icons/bed.png" alt="">6</span>
                                </li>
                                <li>
                                    <span class="bath"><img src="~/WebsiteCss/images/icons/bath.png" alt="">4</span>
                                </li>
                                <li>
                                    <span class="parking"><img src="~/WebsiteCss/images/icons/parking.png" alt="">3</span>
                                </li>
                            </ul>
                        </div>
                        <div class="content">
                            <div class="left">
                                <h3 class="title"><a href="#">Azorex de South Villa</a></h3>
                                <span class="location"><img src="~/WebsiteCss/images/icons/marker.png" alt="">668 L 2nd Ave, Boston</span>
                            </div>
                            <div class="right">
                                <div class="type-wrap">
                                    <span class="price">₹ 2550</span>
                                    <span class="type">For Sale</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Property end-->
                <!--Property start-->
                <div class="property-item col">
                    <div class="property-inner">
                        <div class="image">
                            <span class="label">Feature</span>
                            <a href="#"><img src="~/WebsiteCss/images/property/property-6.jpg" alt=""></a>
                            <ul class="property-feature">
                                <li>
                                    <span class="area"><img src="~/WebsiteCss/images/icons/area.png" alt="">550 SqFt</span>
                                </li>
                                <li>
                                    <span class="bed"><img src="~/WebsiteCss/images/icons/bed.png" alt="">6</span>
                                </li>
                                <li>
                                    <span class="bath"><img src="~/WebsiteCss/images/icons/bath.png" alt="">4</span>
                                </li>
                                <li>
                                    <span class="parking"><img src="~/WebsiteCss/images/icons/parking.png" alt="">3</span>
                                </li>
                            </ul>
                        </div>
                        <div class="content">
                            <div class="left">
                                <h3 class="title"><a href="#">Radison de Villa</a></h3>
                                <span class="location"><img src="~/WebsiteCss/images/icons/marker.png" alt="">12 1st Ave, New Yourk</span>
                            </div>
                            <div class="right">
                                <div class="type-wrap">
                                    <span class="price">₹ 550<span>M</span></span>
                                    <span class="type">For Rent</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Property end-->

            </div>
            <!--Property Slider end-->

        </div>

    </div>
</div>
<!--Feature property section end-->
<!--Brand section start-->
<div class="brand-section section pb-100 pb-lg-80 pb-md-70 pb-sm-60 pb-xs-50">
    <div class="container">

        <!--Section Title start-->
        <div class="row">
            <div class="col-md-12 mb-60 mb-xs-30">
                <div class="section-title center">
                    <h1>Our Partners</h1>
                </div>
            </div>
        </div>
        <!--Section Title end-->

        <div class="row">

            <!--Brand Slider start-->
            <div class="brand-carousel section">
                <div class="brand col"><img src="~/WebsiteCss/images/brands/brand-1.png" alt=""></div>
                <div class="brand col"><img src="~/WebsiteCss/images/brands/brand-2.png" alt=""></div>
                <div class="brand col"><img src="~/WebsiteCss/images/brands/brand-3.png" alt=""></div>
                <div class="brand col"><img src="~/WebsiteCss/images/brands/brand-4.png" alt=""></div>
                <div class="brand col"><img src="~/WebsiteCss/images/brands/brand-5.png" alt=""></div>
                <div class="brand col"><img src="~/WebsiteCss/images/brands/brand-6.png" alt=""></div>
            </div>
            <!--Brand Slider end-->

        </div>

    </div>
</div>
<!--Brand section end-->




























