@model EoneCircle.Models.Master

@{
    ViewBag.Title = "NewsList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <br />
        @*<h4 class="page-header">KYC Verification</h4>*@
    </div>
    <!-- /.col-lg-12 -->
</div>

@using (Html.BeginForm("NewsList", "Master", FormMethod.Post, new { @id = "form1", name = "formKYC" }))
{
    <span style="color: red">
        @TempData["Product"]
    </span>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    List Of News
                    <a href="/Master/AddNews" class="btn btn-sm btn-primary pull-right">Add News</a>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">


                     <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>S No.</th>
                                <th>Date</th>
                                <th>News Heading</th>
                                <th>News Body</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                if (Model.lstNews != null)
                                {
                                    int i = 1;
                                    foreach (var Item in Model.lstNews)
                                    {
                                <tr class="text-left">
                                    <td>
                                        @i
                                    </td>
                                    <td>@Item.NewsDate</td>
                                    <td>@Item.NewsHeading</td>
                                    <td>@Item.NewsBody</td>
                                    
                                    <td>
                                        <a href="/Master/DeleteNews/@Item.NewsID" runat="server" class="btn btn-danger btn-sm pull-right" onclick="return confirm('Are you sure you want to delete this News?');" name="btnDelete">Delete</a>
                                        <a href="/Master/AddNews?NewsID=@Item.NewsID" class="btn btn-info btn-sm">Edit</a>
                                    </td>

                                </tr>
                                 
                                        i++;
                                    }
                                }
                            }


                        </tbody>
                    </table>

                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
}
<script src="../vendor/jquery/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $('#dataTables-example').DataTable({
            responsive: true
        });
    });

    //function SelectedIndexChanged() {
    //    document.formKYC.submit();
    //}

</script>

