
@{
    ViewBag.Title = "CompanyDesk";
    Layout = "~/Views/Shared/_WebisteLayout.cshtml";
}
<section class="page-title" style="background-image:url(../../WebsiteCss/images/background/about-banner.jpg);">
    <div class="auto-container">
        <div class="inner-container clearfix">
            <div class="title-box">
                <h1>Company Desk</h1>
                <span class="title">The Best Trusted Product For You</span>
            </div>
            <ul class="bread-crumb clearfix">
                <li><a href="/Home/Website" class="text-white">Home</a></li>
                <li class="text-white">Company Desk</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->
<!-- About Section -->
<section class="about-section">
    <div class="auto-container">
        <div class="row no-gutters">
            <!-- Image Column -->
            <div class="col-lg-6 col-md-12 col-sm-12">
                <img src="../../WebsiteCss/images/company-desk.png" class="img-responsive" alt="dhara-main">
            </div>
            <!-- Content Column -->
            <div class="content-column col-lg-6 col-md-12 col-sm-12">
                <div class="wow fadeInLeft">
                    <div class="content-box1">
                        <div class="title-heading1">
                            <h5>Harbal Products</h5>
                            <h1>Company Desk</h1>
                        </div>
                        <p class="text-justify">We have started our journey since 1995 by working as super Stockist of various MNCs covering area of more than 15 states. Such a vast experience in marketing has inspired us to launch the products under Dream Crusher.</p>
                        <p class="text-justify">Dream Crusher.com domain is owned by Maker Property Health & Personal Care Pvt. Ltd. incorporated in 2016 under companies act, 1956 with its registered office at D1/1, 2nd Floor, Vineet Khand Gomti Nagar,Lucknow-226012 (UP)</p>
                        <p class="text-justify">We handle various FMCG/OTC and Herbal Ayurvedic Products services.</p>
                        <h5 class="text-green pull-right">Director of the farm</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End About Section -->
<!--Clients Section-->
<section class="clients-section style-two">
    <div class="auto-container">
        <div class="sponsors-outer">
            <!--Sponsors Carousel-->
            <ul class="sponsors-carousel owl-carousel owl-theme">
                <li class="slide-item">
                    <figure class="image-box">
                        <a href="#"><img src="../../WebsiteCss/images/clients/certi-1.jpg" alt="client"></a>
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box">
                        <a href="#"><img src="../../WebsiteCss/images/clients/certi-2.jpg" alt="client"></a>
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box">
                        <a href="#"><img src="../../WebsiteCss/images/clients/certi-3.jpg" alt="client"></a>
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box">
                        <a href="#"><img src="../../WebsiteCss/images/clients/certi-4.jpg" alt="client"></a>
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box">
                        <a href="#"><img src="../../WebsiteCss/images/clients/certi-5.jpg" alt="client"></a>
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box">
                        <a href="#"><img src="../../WebsiteCss/images/clients/certi-6.jpg" alt="client"></a>
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box">
                        <a href="#"><img src="../../WebsiteCss/images/clients/certi-7.jpg" alt="client"></a>
                    </figure>
                </li>
            </ul>
        </div>
    </div>
</section>
