
@{
    ViewBag.Title = "DirectSellerTermCondition";
    Layout = "~/Views/Shared/_WebisteLayout.cshtml";
}
<!-- End Main Header -->
<!--Page Title-->
<section class="page-title" style="background-image:url(../WebsiteCss/images/background/5.jpg)">
    <div class="auto-container">
        <div class="clearfix">
            <div class="pull-left">
                <div class="title">Welcome to Make Way Reality Pvt. Ltd.</div>
                <h2>Direct Seller Term & Condition</h2>
            </div>
            <div class="pull-right">
                <ul class="page-breadcrumb">
                    <li><a href="/Home/Website">home</a></li>
                    <li>Direct Seller Term & Condition</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--End Page Title-->
<!-- Sidebar Page Container -->
<div class="sidebar-page-container">
    <div class="auto-container">
        <div class="row clearfix">

            <!--Content Side-->
            <div class="content-side col-lg-12 col-md-12 col-sm-12">
                <div class="service-detail">
                    <div class="inner-box">
                        <div class="lower-content">
                            <div class="text">
                                <h3>Direct Seller Agreement </h3>
                                <p>
                                    Make Way Reality Pvt. Ltd., a Company incorporated under the Companies Act, 2013, and having its
                                    Registered Office in Ayodhya, Uttar Pradesh, hereinafter referred to as “The company”. The company is
                                    engaged into the business of direct selling and in other business activities as stated in the Object Clauses
                                    of memorandum of Association of the Company.
                                </p>
                                <p>
                                    For smooth running the business of direct seller, Company has framed certain rules and regulation,
                                    renumeration plan and other terms and conditions.
                                </p>
                                <p>
                                    The Company exclusively uses its website to display the detail of the products, marketing methods and
                                    business monitoring. It uses verbal publicity to promote its business.
                                </p>
                                <p>
                                    The Company appoints Direct Seller across the country of India for marketing and sale of its products.
                                    Individuals (Indian Citizens only) interested in becoming a Direct Seller of the Company, can apply for the
                                    same in prescribed form. Filling each & every column is mandatory. There is no deposit or any charges for
                                    becoming a Direct Seller of the Company.
                                </p>
                                <p>
                                    Before filling the application form, the intending Direct Seller shall go through the terms and conditions
                                    herein below thoroughly and if he/she agrees the terms and conditions, he/she shall append his/her
                                    signature in the column hereunder as token of their acceptance.
                                </p>
                                <p><strong>Definitions:- </strong></p>
                                <p>
                                    The following words used in these presents shall have the meaning as defined here under;<br />
                                    <strong>a. Direct Selling</strong>
                                </p>
                                <p>
                                    Means marketing or sales of goods directly to the end user / consumer either by oral publicity or display
                                    or demonstrations of the good/products or distribution of pamphlets.<br />
                                    <strong>b. Direct Seller</strong>
                                </p>
                                <p>
                                    Means a person competent to enter into contract as per “Indian Contract Act”, and who is authorized and
                                    registered as direct seller.<br />
                                    <strong>c. Consumer</strong>
                                </p>
                                <p>
                                    Means a person who purchases good or hires services for consumption and not for commercial purposes.
                                    It shall have the same meaning as provided under the Consumer Protection Act, 1986.<br />
                                    <strong>d. Goods/Products</strong>
                                </p>
                                <p>
                                    Means goods/products defined in the Sale of Goods Act, 1930 and section 3(26) of the General Clauses
                                    Act, 1897, is that it shall include every kind of movable property other than actionable claims and money.<br />
                                    <strong>e. Sales incentive</strong>
                                </p>
                                <p>
                                    Means amount of incentive payable to the Direct Seller for effecting sale of goods/products as stipulated
                                    in the contract between the Direct Seller and Direct Selling entity.<br />
                                    <strong>f. Unique ID /user ID</strong>
                                </p>
                                <p>
                                    Means unique identification number issued by the Company to the Direct Seller as token of acceptance of
                                    his/her application for Direct Selling of the goods/products of the Company.
                                </p>
                                <p><strong>1.</strong> THE APPOINTMENT AND UNDERSTANDING </p>
                                <p>
                                    <strong>a)</strong> Company upon scrutiny and verification of the Application may register the Applicant as “Direct Seller”
                                    for Direct Selling the goods/products of the Company. The Company shall be at liberty to accept or reject
                                    his/her application at its discretion.
                                </p>
                                <p><strong>b)</strong> The Direct Seller shall enjoy the following privileges:-</p>
                                <p><strong>i)</strong> Incentive for effecting sale of goods/products of the Company as per renumeration plan, </p>
                                <p><strong>ii)</strong> No territorial restriction to sale the goods/products,</p>
                                <p>
                                    <strong>iii)</strong> Search and inspect his/her account on website of the Company through password provided by
                                    the Company,
                                </p>
                                <p>
                                    <strong>iv)</strong> Earnings of the Direct Seller shall be in proportion to the volume of performance by the Direct
                                    Seller either by his/her personal efforts or through team as stipulated in the renumeration plan of the
                                    Company.
                                </p>
                                <p>
                                    <strong>c)</strong> An individual, upon appending his/her name at the bottom of these presents, shall be deemed
                                    to have accepted the terms and conditions stipulated herein. Upon registration after scrutiny of the
                                    application, he/she shall become the direct seller of the Company. Allotment of password and ID shall be
                                    construed as registration as direct seller. The applicant hereby covenants that as under..
                                </p>
                                <p>
                                    <strong>i.</strong> That she/he has clearly understood the marketing methods/plan, the compensation plan, its
                                    limitations and conditions. He/she agrees that he/she is not relying upon any misrepresentation/s or
                                    fraudulent inducement or assurance that is not set out in terms and conditions or other officially printed
                                    or published materials of the Company.
                                </p>
                                <p>
                                    <strong>ii.</strong> Relation between the Company and the Direct Seller shall be governed, in addition to this
                                    agreement, by the rules and procedure mentioned in the renumeration plan, available on website. The
                                    Direct Seller further confirms that he/she has read and understood all the terms & conditions carefully
                                    and agrees to be bound by them.
                                </p>
                                <p>
                                    <strong>iii.</strong> Direct Seller shall act as a freelancer and shall not commit any misfeasance or malfeasance to
                                    create any liability/obligation on the company.
                                </p>
                                <p>
                                    <strong>iv.</strong> It is made and understood in very clear terms that Direct Seller is not an Agent, Employee nor
                                    an authorized representative of the Company or its service providers. He/she is not authorized to
                                    accept/receive any amount/payment for and behalf of the Company and any payment received by
                                    him/her will not deemed to be received by the Company.
                                </p>
                                <p>
                                    <strong>v.</strong> Direct Seller, hereby declare that all the information furnished by him/her are true and correct.
                                    Company shall be at liberty to take any action against the Direct Seller in the event, it is discovered that
                                    the Direct Seller furnished any wrong/false information to the Company.
                                </p>
                                <p><strong>2. GENERAL TERMS </strong></p>
                                <p>
                                    <strong>i.</strong> The Company may appoint any Third party for Collection/distribution services. Direct seller is
                                    required to visit the Company’s official website from time to time to get such appointment and avail
                                    facilities make payment and collect valid receipt and products from its outlets/collection/delivery centre.
                                </p>
                                <p>
                                    <strong>ii.</strong> The Direct Seller will be eligible for facilitation fees or income, as per the volume of sale of
                                    Products/Business done by him/her, subject to the eligibility norms formulated by the Company from time to time. The Company does not guarantee/assure any particular or fixed facilitation
                                    fees or income to the Direct Seller.
                                </p>
                                <p>
                                    <strong>iii.</strong> User ID has to be quoted by the Direct Seller in all his/her transactions and correspondence
                                    with the Company. The user ID once chosen cannot be altered at any point of time.
                                </p>
                                <p>
                                    <strong>iv.</strong> No communication will be entertained without unique ID and password. Direct Seller shall
                                    preserve the ID and Password properly as it is “must” for logging on to website.
                                </p>
                                <p>
                                    <strong>v.</strong> Commission/income to the Direct Seller shall be subjected to statutory deductions as
                                    applicable.
                                </p>
                                <p>
                                    <strong>vi.</strong> The Company reserves its right to withheld/block/suspend the Direct Seller in the event the
                                    Direct Seller fails to provide an details as desired by the company from time to time including but not
                                    limited to Pan card details.
                                </p>
                                <p>
                                    <strong>vii.</strong> admin charges and any other applicable charges will be deducted as per the Company’s
                                    norms.
                                </p>
                                <p>
                                    <strong>viii.</strong> Direct Seller undertakes to adhere for policies, procedures, rules and regulation formed by
                                    the Company.
                                </p>
                                <p>
                                    <strong>ix.</strong> The Direct Seller shall be faithful to the Company and shall uphold the integrity and decorum to
                                    the Company and shall maintain good relations with other Direct Seller and their clients.
                                </p>
                                <p>
                                    <strong>x.</strong> Company reserves the rights to modify the terms and conditions, products, plan, business and
                                    policies at anytime without notice. Modification shall be published through the official website of the
                                    Company and such modification/amendment shall be applicable and binding upon the Direct Seller from
                                    the date of such notification.
                                </p>
                                <p>
                                    <strong>xi.</strong> In case of death of Direct Seller either his/her nominee or one of the legal heir with consent of
                                    all the legal heirs may join the Company as Direct Seller in place of the deceased provided he/she applies
                                    in prescribed form and undertakes to abide all rules and regulations, terms and conditions etc., in the
                                    same manner as that of original Direct Seller. In case of failure to arrival at such consent within six months
                                    from the date of death of Direct Seller, the Company shall be at liberty to terminate the ID. For this period
                                    Company will keep his/her ID in abeyance.
                                </p>
                                <p>
                                    <strong>xii.</strong> If any Direct Seller loses his/her contractual capacity due to any reason such as lunacy,
                                    bankruptcy or sentenced to imprisonment or other legal embargo is created, his/her Direct Seller ship
                                    shall be continued through the person duly appointed by the competent Court.
                                </p>
                                <p>
                                    <strong>xiii.</strong> Direct Seller shall have to follow all statutory laws, rules and regulations in operation of their
                                    business. Direct Seller shall not engage in any deceptive of unlawful trade practice as defined statute.
                                </p>
                                <p><strong>xiv.</strong> Direct Seller shall not manipulate the marketing plan or product’s rate, B.V. etc., in any way.</p>
                                <p>
                                    <strong>xv.</strong> Direct Seller shall not send, transmit or otherwise communicate any messages to anybody on
                                    behalf of the Company without any authority from the Company.
                                </p>
                                <p>
                                    <strong>xvi.</strong> Direct Seller and/or any other person under him/her is strictly prohibited to use Promotional
                                    Material, other than developed and authorized by the Company.
                                </p>
                                <p>
                                    <strong>xvii.</strong> Direct Seller shall not use the trademark, logotype and design of company and its brands
                                    anywhere without written permission from the Company. Said permission can be withdrawn at any time
                                    by the Company.
                                </p>
                                <p>
                                    <strong>xviii.</strong> All the arrangements, expenses, permission from local authorities, complying with rules of
                                    central and state government and local body is whole responsibility of Direct Seller for meetings and
                                    seminars conducted by Direct Seller.
                                </p>
                                <p><strong>3. PROHIBITION</strong></p>
                                <p>
                                    <strong>I.</strong> Direct seller should not be actively participated in other direct selling entity otherwise their contract
                                    with company will be terminated.
                                </p>
                                <p>
                                   <strong> ii.</strong> Direct Seller is prohibited from listing, marketing, advertising, promoting, discussing or selling any
                                    product, or the business opportunity on any website or online forum that offers like auction as a mode of
                                    selling.
                                </p>
                                <p>
                                    <strong>iii.</strong> The Direct Seller hereby undertakes not to compel or induce or mislead any person with any false
                                    statement/ promise to purchase products from the Company or to be Direct Seller of the Company.
                                </p>
                                <p><strong>4. DUTY AND CONFIDENTIALITY</strong></p>
                                <p>
                                    Parties shall keep and maintain secrecy and confidentially about the information for which they are
                                    obliged and expected to keep secret and not disclose anybody other than persons to whom is reasonably
                                    expected to be disclosed.
                                </p>
                                <p><strong>5. SPECIAL CONDITIONS</strong></p>
                                <p>
                                    Notwithstanding anything stated or provided herein, the Company shall have all powers and discretion to
                                    modify, alter or vary the terms and condition in any manner it deems fit and shall be communicated
                                    through the official website or other mode as the Company may deems fit and proper. If any Direct Seller
                                    does not agree to such amendment, he/she may terminate his/her agreement within 15 days of such
                                    publication by giving a written notice to the Company. Without any objection to such
                                    modification/alteration, if Direct Seller continues his/her activities then it will be deemed that he/she has
                                    accepted all modifications and amendments in the terms & conditions for future.
                                </p>
                                <p><strong>6. TERMINATION</strong></p>
                                <p><strong>Company may terminate this agreement for any reason not limited to;</strong></p>
                                <ul class="list-style-three">
                                    <li>Pursuant to the provision to the renumeration plan. </li>
                                    <li>For reason of non-performance.</li>
                                    <li>Any unethical and pre judicial work to the interest of the Company. </li>
                                    <li>For the breach of any terms and conditions of this agreement and renumeration plan.</li>
                                    <li>Information given by Direct Seller found wrong/false.</li>
                                    <li>In convicted of an offence punishable imprisonment of whatever terms.</li>
                                    <li>Is declared bankrupt. </li>
                                    <li>Is not mentally sound to handle the business. </li>
                                    <li>Migrate to other Country.</li>
                                </ul>
                                <p><strong>Termination of Direct Seller means termination of</strong></p>
                                <ul class="list-style-three">
                                    <li>All rights and entitlements as a Company’s Direct Seller.  </li>
                                    <li>Personal information given on website.  </li>
                                    <li>Identification as a Company’s Direct Seller.  </li>
                                    <li>Right to go at any Company’s office and attend Company’s meeting/seminars. </li>
                                </ul>
                                <p>The Direct Seller may terminate this agreement at any time by giving a written notice to the Company</p>
                                <p><strong>7. FORCE MAJEURE </strong></p>
                                <p>
                                    The Company shall not be liable for any failure to perform its obligations where such failure has resulted
                                    due to Acts of Nature (including fire, flood, earthquake, storm, hurricane or any natural disaster), war,
                                    invasion, act of foreign enemies, civil war, revolution, insurrection, nationalization, government sanction,
                                    strike, lockdown or interruption or failure of electricity, any type of redirection by Government, Local
                                    Authority etc.
                                </p>
                                <p><strong>8. RECOURSE AND LEGAL APPLICABILITY </strong></p>
                                <p>
                                    <strong>I.</strong> The terms and conditions stipulated in the forgoing paragraphs shall be governed in accordance with
                                    the law in force in India. Disputes, either civil or criminal in natural, shall be subject to the exclusive
                                    jurisdiction of the courts in faizabad, Uttar Pradesh only and nowhere else.
                                </p>
                                <p>
                                    <strong>II.</strong> If any dispute or difference arises out of or in relation to these presents, the same shall be referred to
                                    sole arbitrator appointed by the Company. Direct Seller shall not raise any objection, in case the Arbitrator
                                    so appointed any manner whatsoever. Arbitration in such event shall be conducted as per “Arbitration
                                    and Conciliation Act, 1996” as amended from time to time. Venue of such Arbitration shall be in faizabad
                                    and the language shall be English.
                                </p>
                                <p>
                                    <strong>III.</strong> Company’s liability, whether in contract, tort or otherwise arising out of or in connection with the
                                    agreement and/or relationship arising there from shall not exceed the lesser of a) actual damages or loss
                                    assessed by the arbitrator or any where dispute resolution mechanism adopted by the parties or; b) the
                                    total commission earned by the Direct Seller during six months of the date of dispute. 1. That I have read
                                    and understood the terms and conditions for appointment of Direct Seller of the Company.
                                </p>
                                <p><strong>9. SMS ALERTS</strong></p>
                                <p>
                                    The Direct Seller agrees to receive the SMS Alerts from the company on Mobile No. mentioned/quoted
                                    above and will not object even if they are received despite of DND activated. Direct Seller shall intimate
                                    the Change in Mobile No. (If Any)
                                </p>
                                <p><strong>Solemnly affirm and declare as follows: </strong></p>
                                <p>
                                    <strong>1.</strong> That I have read and understood the terms and conditions for appointment of Direct Seller of the
                                    company.
                                </p>
                                <p>
                                    <strong>2.</strong> I have also gone through the Company’s official website, printed materials, brochures and convinced
                                    about the business and I have applied to appoint me as a Direct Seller on my own volition.
                                </p>
                                <p>
                                    <strong>3.</strong> I declare that I have not been given any assurance or promise on inducement by the Company or its
                                    Directors in regards to any fixed income incentive, prize or benefit on account of the products purchased
                                    by me.
                                </p>
                                <p>
                                    <strong>4.</strong> I have clearly understood that eligibility of income exclusively depends on my performance in business
                                    volume as from terms & conditions. I further agree that company reserves the right to change the
                                    renumeration Plan at any point of time without prior notice.
                                </p>
                                <p><strong>5.</strong> I undertake not to misguide or induce any one dishonestly to join the Company. </p>
                                <p>
                                    <strong>6.</strong> I hereby agree and adhere to the terms and conditions as stipulated along with the application form
                                    and as mentioned above to agree to purchase the product as Consumer/to do the Direct Seller activities.
                                </p>
                                <p>
                                    <strong>7.</strong> I hereby agree to submit all disputes to arbitration as provided in the terms and conditions of the
                                    Company.
                                </p>
                                <p><strong>8.</strong> I also declare that at present any other Direct Seller ship Identity (ID) is not activated in my name. </p>
                                <p><strong>10. PRODUCT RETURN POLICY</strong></p>
                                <p>In case of any dissatisfaction, manufacturing or packaging defect, customers/ Distributors can return/exchange the product. The customers/Distributors must contact the Distributor/Company from whom they had purchased the same, within 30 days from the date of purchase. They have to provide a reason and return the said products. In case the customer returns the product, it is the distributor's obligation to satisfy the customer’s need for money refund or replacements of products. The Distributor can then return these products, with original Invoice to Make Way Reality Pvt. Ltd, & then company will replace those products free of cost.</p>
                                <p>Make Way Reality distributors has to return the products in good condition with satisfied reason of return and amount will refund to distributor/customer within 90 offical days of cancellation.</p>
                                <p><strong>Reason for return Letter</strong></p>
                                <p><strong>Copy of Invoice</strong></p>
                                <p><strong>Products to be returned</strong></p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>