
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_WebisteLayout.cshtml";
}
<!-- End Main Header -->
<!--Page Title-->
<section class="page-title" style="background-image:url(../WebsiteCss/images/background/5.jpg)">
    <div class="auto-container">
        <div class="clearfix">
            <div class="pull-left">
                <div class="title">Welcome to Make Way Reality Pvt. Ltd.</div>
                <h2>FAQ</h2>
            </div>
            <div class="pull-right">
                <ul class="page-breadcrumb">
                    <li><a href="/Home/Website">home</a></li>
                    <li>FAQ</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--End Page Title-->

<!-- Faq Section -->
<section class="faq-page-section">
    <div class="auto-container">
        <div class="sec-title centered">
            <div class="title">Some FAQ’s</div>
            <h2>Frequently Asked Question</h2>
        </div>
        <div class="row clearfix">
            <!-- Accordian Column -->
            <div class="accordian-column col-lg-12 col-md-12 col-sm-12">
                <div class="inner-column">
                    <!-- Accordian Box -->
                    <ul class="accordion-box">
                        <!--Block-->
                        <li class="accordion block active-block">
                            <div class="acc-btn active"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>1. What is direct selling?</div>
                            <div class="acc-content current">
                                <div class="content">
                                    <div class="text">Direct Selling means the marketing of consumer products/services directly to the consumers generally in their homes or the homes of others, at their workplace and other places away from permanent retail locations, usually through explanation or demonstration of the products by a direct seller.</div>
                                </div>
                            </div>
                        </li>

                        <!--Block-->
                        <li class="accordion block">
                            <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>2. What products and services are marketed through direct selling?</div>
                            <div class="acc-content">
                                <div class="content">
                                    <div class="text">Virtually every consumer product or service can be purchased through direct selling. People who purchase through direct selling cite product quality, uniqueness and money-back guarantee as the top reasons for shopping through direct selling.</div>
                                </div>
                            </div>
                        </li>

                        

                        <!--Block-->
                        <li class="accordion block">
                            <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>3. What are the responsibilities of a Direct Seller from a company?</div>
                            <div class="acc-content">
                                <div class="content">
                                    <div class="text">As a Direct Seller of a Member company, you are responsible for upholding the Code of Ethics and Conduct. To uphold the standards of business ethics your company has pledged to uphold, which are embodied in the code of ethics of company. </div>
                                </div>
                            </div>
                        </li>

                        <!--Block-->
                        <li class="accordion block">
                            <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>4. What qualification does one need for becoming a successful distributor?</div>
                            <div class="acc-content">
                                <div class="content">
                                    <div class="text">Although the direct selling industry does not require any specific qualification, successful direct selling distributors are known to have exceptional:</div>
                                    <ul>
                                        <li><i class="fa fa-circle" aria-hidden="true"></i>  Selling skills</li>
                                        <li><i class="fa fa-circle" aria-hidden="true"></i> Presentation skills</li>
                                        <li><i class="fa fa-circle" aria-hidden="true"></i> Motivation skills</li>
                                        <li><i class="fa fa-circle" aria-hidden="true"></i> Leadership skills</li>
                                        <li><i class="fa fa-circle" aria-hidden="true"></i> A basic understanding of finance</li>
                                    </ul>
                                    <div class="text">However, two key factors critical for success are:</div>
                                    <ul>
                                        <li><i class="fa fa-circle" aria-hidden="true"></i> Focus, commitment and hard work</li>
                                        <li><i class="fa fa-circle" aria-hidden="true"></i> Faith in the direct selling profession and the industry</li>
                                    </ul>
                                </div>
                            </div>
                        </li>

                        <!--Block-->
                        <li class="accordion block">
                            <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>5. Is direct selling an opportunity for individuals to get rich quick?</div>
                            <div class="acc-content">
                                <div class="content">
                                    <div class="text">•	Direct selling provides an opportunity to individuals to reach very high income levels regardless of what their educational backgrounds and work experience may be. In economic terms, it is a micro-entrepreneurship model. However, one should not expect to get rich quick. Just like it is in any other business, here too, effort, sacrifice and time are required.</div>
                                </div>
                            </div>
                        </li>

                        <!--Block-->
                        <li class="accordion block">
                            <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>6. Can individuals make a career in direct selling, working for many years?</div>
                            <div class="acc-content">
                                <div class="content">
                                    <div class="text">Absolutely! They can work for many years and their businesses can be inherited after they pass way. Many people in US and Europe have been doing direct selling for over 30 years now. This is a career!</div>
                                </div>
                            </div>
                        </li>

                        <!--Block-->
                        <li class="accordion block">
                            <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>7. Is direct selling more suitable for women? </div>
                            <div class="acc-content">
                                <div class="content">
                                    <div class="text">Globally, it is estimated that 75% of direct sellers are women and 25% are men. Direct selling can be easily done on a part-time basis. And this characteristic appeals to women very much. There are many organizations where there are much more men than there are women. Being a typical micro-entrepreneurship, this business offers a level playing field to everyone, so it is difficult to say it suits on gender more than the other.</div>
                                </div>
                            </div>
                        </li>

                        <!--Block-->
                        <li class="accordion block">
                            <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>8. What is a compensation plan?</div>
                            <div class="acc-content">
                                <div class="content">
                                    <div class="text">A compensation plan shows how a direct seller will be compensated against meeting certain criteria of success. Some of these plans are quite simple while some are quite complex. The complexity of a compensation plan does not necessarily show it is a solid one.</div>
                                </div>
                            </div>
                        </li>

                        <!--Block-->
                        <li class="accordion block">
                            <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>9. Do the advances in the digital world pose a threat to direct selling’s future?</div>
                            <div class="acc-content">
                                <div class="content">
                                    <div class="text">Some thought it would. However, technology has only enhanced the way people do this business by providing powerful tools to support the activities in the field. The growth of social media and use of various apps has made keeping in touch with the team/downlines/uplines, tracking the growth of the business and providing instant support to newcomers very easy.</div>
                                </div>
                            </div>
                        </li>

                    </ul>

                </div>
            </div>          

        </div>
    </div>
</section>
<!-- End Faq Section -->