
@{
    ViewBag.Title = "LegalDocuments";
    Layout = "~/Views/Shared/_WebisteLayout.cshtml";
}
<!-- End Main Header -->
<!--Page Title-->
<section class="page-title" style="background-image:url(../WebsiteCss/images/background/5.jpg)">
    <div class="auto-container">
        <div class="clearfix">
            <div class="pull-left">
                <div class="title">Welcome to Make Way Reality Pvt. Ltd.</div>
                <h2>Legal Documents</h2>
            </div>
            <div class="pull-right">
                <ul class="page-breadcrumb">
                    <li><a href="/Home/Website">home</a></li>
                    <li>Legal Documents</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--End Page Title-->
<!-- Projects Page Section -->
<section class="projects-page-section galleryhh">
    <div class="auto-container">
        <!-- MixitUp Galery -->
        <div class="mixitup-gallery">
            <div class="filter-list row clearfix">
                <!-- Portfolio Block -->
                <div class="project-block mix all strategy acilitation col-lg-6 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="../WebsiteCss/images/legaldocuments/certificate.jpg" alt="" />
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="title">Legal Documents</div>
                                    <h4><a href="#">Certificate of Incorporation</a></h4>
                                    <a href="../WebsiteCss/images/legaldocuments/certificate.jpg" data-fancybox="gallery" data-caption=""
                                       class="plus flaticon-plus"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Portfolio Block -->
                <div class="project-block mix all strategy relations col-lg-6 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="../WebsiteCss/images/legaldocuments/pan-card.jpg" alt="" />
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="title">Legal Documents</div>
                                    <h4><a href="#">Pan Card</a></h4>
                                    <a href="../WebsiteCss/images/legaldocuments/pan-card.jpg" data-fancybox="gallery" data-caption=""
                                       class="plus flaticon-plus"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>