
@{
    ViewBag.Title = "NewsEvents";
    Layout = "~/Views/Shared/_WebisteLayout.cshtml";
}
<!-- End Main Header -->
<!--Page Title-->
<section class="page-title" style="background-image:url(../WebsiteCss/images/background/5.jpg)">
    <div class="auto-container">
        <div class="clearfix">
            <div class="pull-left">
                <div class="title">Welcome to Make Way Reality Pvt. Ltd.</div>
                <h2>News & Events</h2>
            </div>
            <div class="pull-right">
                <ul class="page-breadcrumb">
                    <li><a href="/Home/Website">home</a></li>
                    <li>News & Events</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--End Page Title-->
<!-- Projects Page Section -->
<section class="projects-page-section galleryhh">
    <div class="auto-container">
        <!-- MixitUp Galery -->
        <div class="mixitup-gallery">
            <div class="filter-list row clearfix">
                <!-- Portfolio Block -->
                <div class="project-block mix all strategy acilitation col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="../WebsiteCss/images/gallery/1.jpg" alt="" />
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="title">Corporate</div>
                                    <h4><a href="#">Business Management</a></h4>
                                    <a href="../WebsiteCss/images/gallery/1.jpg" data-fancybox="gallery" data-caption=""
                                       class="plus flaticon-plus"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Portfolio Block -->
                <div class="project-block mix all strategy relations col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="../WebsiteCss/images/gallery/2.jpg" alt="" />
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="title">Corporate</div>
                                    <h4><a href="#">Business Management</a></h4>
                                    <a href="../WebsiteCss/images/gallery/2.jpg" data-fancybox="gallery" data-caption=""
                                       class="plus flaticon-plus"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Portfolio Block -->
                <div class="project-block mix all relations stakeholder col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="../WebsiteCss/images/gallery/3.jpg" alt="" />
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="title">Corporate</div>
                                    <h4><a href="#">Business Management</a></h4>
                                    <a href="../WebsiteCss/images/gallery/3.jpg" data-fancybox="gallery" data-caption=""
                                       class="plus flaticon-plus"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Portfolio Block -->
                <div class="project-block mix all strategy stakeholder col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="../WebsiteCss/images/gallery/4.jpg" alt="" />
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="title">Corporate</div>
                                    <h4><a href="#">Business Management</a></h4>
                                    <a href="../WebsiteCss/images/gallery/4.jpg" data-fancybox="gallery" data-caption=""
                                       class="plus flaticon-plus"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Portfolio Block -->
                <div class="project-block mix all strategy stakeholder coaching col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="../WebsiteCss/images/gallery/5.jpg" alt="" />
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="title">Corporate</div>
                                    <h4><a href="#">Business Management</a></h4>
                                    <a href="../WebsiteCss/images/gallery/5.jpg" data-fancybox="gallery" data-caption=""
                                       class="plus flaticon-plus"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Portfolio Block -->
                <div class="project-block mix all strategy acilitation col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="../WebsiteCss/images/gallery/6.jpg" alt="" />
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="title">Corporate</div>
                                    <h4><a href="#">Business Management</a></h4>
                                    <a href="../WebsiteCss/images/gallery/6.jpg" data-fancybox="gallery" data-caption=""
                                       class="plus flaticon-plus"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Portfolio Block -->
                <div class="project-block mix all coaching stakeholder col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="../WebsiteCss/images/gallery/7.jpg" alt="" />
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="title">Corporate</div>
                                    <h4><a href="#">Business Management</a></h4>
                                    <a href="../WebsiteCss/images/gallery/7.jpg" data-fancybox="gallery" data-caption=""
                                       class="plus flaticon-plus"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Portfolio Block -->
                <div class="project-block mix all strategy acilitation col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="../WebsiteCss/images/gallery/8.jpg" alt="" />
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="title">Corporate</div>
                                    <h4><a href="#">Business Management</a></h4>
                                    <a href="../WebsiteCss/images/gallery/8.jpg" data-fancybox="gallery" data-caption=""
                                       class="plus flaticon-plus"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Portfolio Block -->
                <div class="project-block mix all coaching acilitation col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="../WebsiteCss/images/gallery/9.jpg" alt="" />
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="title">Corporate</div>
                                    <h4><a href="#">Business Management</a></h4>
                                    <a href="../WebsiteCss/images/gallery/9.jpg" data-fancybox="gallery" data-caption=""
                                       class="plus flaticon-plus"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>
</section>