
@{
    ViewBag.Title = "Opportunity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="row">
    <div class="col-sm-12">

        <ol class="breadcrumb">
            <li>
                <i class="clip-home-3"></i>
                <a href="#">
                    Home
                </a>
            </li>
            <li class="active">
                Opportunity
            </li>

        </ol>


    </div>
</div>
<br />
<div class="row">

    <div class="col-md-12">
        <div class="col-md-6">
            <div class="blog-post">
                <div class="post-img">
                    <a href="#"> <img class="img-responsive" alt="" src="../../WebsiteCss/images/opprtunity/Slide4.jpg"> </a>

                </div>

                <p></p>
            </div>
        </div>

        <div class="col-md-6">
            <div class="blog-post">
                <div class="post-img">
                    <a href="#"> <img class="img-responsive" alt="" src="../../WebsiteCss/images/opprtunity/Slide5.jpg"> </a>

                </div>

            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="=col-md-12">
        <div class="col-md-6">
            <div class="blog-post">
                <div class="post-img">
                    <a href="#"> <img class="img-responsive" alt="" src="../../WebsiteCss/images/opprtunity/Slide6.jpg"> </a>

                </div>

                <p></p>
            </div>
        </div>

        <div class="col-md-6">
            <div class="blog-post">
                <div class="post-img">
                    <a href="#"> <img class="img-responsive" alt="" src="../../WebsiteCss/images/opprtunity/Slide7.jpg"> </a>

                </div>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-6">
            <div class="blog-post">
                <div class="post-img">
                    <a href="#"> <img class="img-responsive" alt="" src="../../WebsiteCss/images/opprtunity/Slide8.jpg"> </a>

                </div>

                <p></p>
            </div>
        </div>

        <div class="col-md-6">
            <div class="blog-post">
                <div class="post-img">
                    <a href="#"> <img class="img-responsive" alt="" src="../../WebsiteCss/images/opprtunity/Slide9.jpg"> </a>

                </div>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-6">
            <div class="blog-post">
                <div class="post-img">
                    <a href="#"> <img class="img-responsive" alt="" src="../../WebsiteCss/images/opprtunity/Slide10.jpg"> </a>

                </div>

                <p></p>
            </div>
        </div>

        <div class="col-md-6">
            <div class="blog-post">
                <div class="post-img">
                    <a href="#"> <img class="img-responsive" alt="" src="../../WebsiteCss/images/opprtunity/Slide11.jpg"> </a>

                </div>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-6">
            <div class="blog-post">
                <div class="post-img">
                    <a href="#"> <img class="img-responsive" alt="" src="../../WebsiteCss/images/opprtunity/Slide12.jpg"> </a>

                </div>

                <p></p>
            </div>
        </div>

        <div class="col-md-6">
            <div class="blog-post">
                <div class="post-img">
                    <a href="#"> <img class="img-responsive" alt="" src="../../WebsiteCss/images/opprtunity/Slide13.jpg"> </a>

                </div>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-6">
            <div class="blog-post">
                <div class="post-img">
                    <a href="#"> <img class="img-responsive" alt="" src="../../WebsiteCss/images/opprtunity/Slide14.jpg"> </a>

                </div>

                <p></p>
            </div>
        </div>


        <div class="col-md-6">
            <div class="blog-post">
                <div class="post-img ">
                    <a href="#"> <img class="img-responsive" alt="" src="../../WebsiteCss/images/opprtunity/Slide15.jpg"> </a>

                </div>

            </div>

        </div>

    </div>
</div>
